[2020-02-25 11:45] barakshani opened #1857 "Weak coin implementation"
As described in:
https://github.com/spacemeshos/SMIPS/issues/28

Todays verifying tortoise algorithm simply verifies that honest blocks vote the same way to make it easier to tally votes for each honest block.
Voting is done by tallying up past votes and voting accordingly - if there are enough prior votes to support a block vote the for the block as well. this is done by supporting blocks who vie

[2020-02-25 11:47] barakshani opened #1858 "Seed for VRF"
Solution may be similar to the construction in https://github.com/spacemeshos/go-spacemesh/issues/1855

[2020-02-25 11:47] almogdepaz commented on #1856
not sure i understand the benefits of implementing this, the current tortoise is not a bottleneck at "quiet times" and preforms rather well.

[2020-02-25 11:50] barakshani opened #1859 "Recover from failing Hare"
Need to implement https://github.com/spacemeshos/research/issues/36, once finalised.

[2020-02-25 14:49] almogdepaz commented on #1834
#1860

[2020-02-25 15:08] y0sher opened #1861 "Fix flaky unit tests"
# Overview / Motivation

We have some flaky tests in travis or locally, we want to note these test and keep logs or reproduction method so we can revisit them and fix the flakiness

[2020-02-25 15:09] y0sher commented on #1861
happened once and for the first time. date shows in the description. might be related to ntp issues we had ?
[code]

Edit: got this again..
<details>
<summary> Logs </summary>

2020-03-27T14:47:50.519Z	INFO	00000.defaultLogger	subscribed to channel

2020-03-27T14:47:50.519Z	INFO	ticker	started notifying

2020-03-27T14:47:50.519Z	INFO	TestClock_StartClock	starting global clock now=2020-03-27 14:47:

[2020-02-25 16:12] #1697 closed, assigned to y0sher

[2020-02-25 18:16] almogdepaz commented on #1834
lets wait with the whole hare cp thing till we have proof its a problem

[2020-02-26 07:02] noamnelke commented on #1861
`TestMultiNode` failed
<details>
  <summary>Logs</summary>

[code]
</details>

<details>
  <summary>A panic that occurred earlier in the run</summary>

[code]
</details>

[2020-02-26 10:45] antonlerner commented on #1833
I suspect this is caused due to a hotfix applied by me to home miners after we've launched the testnet. I think we should close this issue a re open if it persists on new network. We could possibly test this theory if we launch another network and test this scenario...

[2020-02-26 11:14] avive commented on #1833
let's just assign to me and if I have a repro case from ffnet2 then I will share here + logs.

[2020-02-26 12:30] y0sher commented on #1861
probably same as above. `TestMultiNode` panics

[log.txt](https://github.com/spacemeshos/go-spacemesh/files/4255686/log.txt)

[2020-02-26 12:34] antonlerner commented on #1861
This panic means that the multi node sim has not received all expected data at a certain point.
Several actual issues can cause this:
1. An ATX was not created at the begining of an epoch
2. A block was not created
3. A block or ATX was not properly propagated to all nodes, this can be caused either by
   a. p2p issue (unlikely)
   b. event system failure - (I've noticed it happens sometimes... st

[2020-02-26 15:54] y0sher opened #1865 "Dangling closed connection on incoming remote message"
# Overview / Motivation

we have observed in testnet that a connection that was closed by an error during processing the incoming message stays dangling in the peer list and cpool but returns "connection was closed" error.

# The Task

remove the connection from cpool and peers after error.

# Implementation Notes
TODO: Add links to relevant resources, specs, related issues, etc...

# Contribution

[2020-02-27 07:21] noamnelke commented on #1861
### `TestPeers_RandomPeers`: `same element` assertion failure

I think this is the second time I'm getting a failure from this assertion. With 5 peers the expected failure rate of this test is **1 in 120 (5! = 120)**. I think this is in "mildly annoying" zone. If we just wrap this test in a method and do a couple of retries before failing this would decrease the likelihood dramatically.

3 failure

[2020-02-27 13:26] barakshani commented on #1676
still relevant

[2020-02-27 13:28] AmitShaul opened #1867 "Refactor test_bs"
# Overview / Motivation
refactor test_bs to contain only mining tests.
test_bs contains setup functions and all fixtures, both should be removed from the file.

[2020-02-29 19:36] #1865 closed, assigned to nobody

[2020-03-01 09:19] #1819 closed, assigned to noamnelke

[2020-03-01 10:59] #1838 closed, assigned to nobody

[2020-03-02 16:42] barakshani commented on #1834
Done https://github.com/spacemeshos/go-spacemesh/pull/1860

[2020-03-02 16:42] #1834 closed, assigned to almogdepaz

[2020-03-02 16:43] barakshani commented on #1790
This seems to be the reason:
on layer tick we say that 2 ticks has passed, however we are not synced yet through the eyes of the hare, then we finish validating the previous layer by the tortoise and announce that we open gossip. See logs below.

I'm not sure if this is still the case, due to https://github.com/spacemeshos/go-spacemesh/pull/1860 (I'm guessing it is, since it is a different flow),

[2020-03-03 08:18] barakshani opened #1868 "Single failed message postpones other messages"
A miner failed sending a single message to a single peer (peer seems to be disconnected). After the timeout, we see that other messages that the miner should have sent while waiting for a response on the aforementioned message were postponed and sent only after the timeout.

Here we see the timeout at 01:10:27 (only one message seems to be in the queue)
<img width="996" alt="Screen Shot 2020-03-03

[2020-03-03 08:30] #1867 closed, assigned to AmitShaul

[2020-03-03 12:31] avive commented on #1767
Archiving this as there's an epic in the post repo about this.

[2020-03-03 12:31] #1767 closed, assigned to y0sher

[2020-03-03 12:35] avive commented on #1844
We would like the POST process (with GPU support) to be independent of go-spacemesh so it can be used by different clients and be more easily testable therefore there's no need to use CGO. What needs to be designed is the inter-process communication channel between go-spacemesh and the gpu-post-init process in a way that supports other clients to communicate with the POST process and POST needs to

[2020-03-03 12:38] avive commented on #1844
What is GPU-POST and what is GO-POST?
High-level what we want for POST is to have a standalone process with an interface that can be used by other clients such as go-spacemesh. The process should use the gpu-post c-library internally.
@noamnelke @moshababo

[2020-03-04 16:45] avive opened #1872 "Post init does not respond to user termination request"
1. Start a new node cli with mining.
2. Wait for post setup to start writing to the file. (log entry: initialization: file 0 completed 5000000 label groups).
3. Hit ctrl-c to try to terminate go-spacemesh via the terminal.
Result: node will not shut down until post setup is complete (full storage commitment).
Expected: node process to terminate quickly when the user attempts to exist the process a

[2020-03-06 14:24] barakshani opened #1875 ""block received" log fields"
Need to:
1. change _miner_id_ to _sender_id_ in order to be consistent with all the other messages.
2. make _miner_id_ a short_id.

[2020-03-06 17:42] avive commented on #1840
References: https://pkg.go.dev/mod/github.com/spacemeshos/go-spacemesh?tab=packages
See missing synopsis for top-level packages...

[2020-03-06 17:52] avive commented on #1840
![image](https://user-images.githubusercontent.com/96002/76109365-95ddb400-5fdc-11ea-94d3-8dac7d7df935.png)

[2020-03-07 13:37] #1774 closed, assigned to nobody

[2020-03-08 08:34] barakshani opened #1876 "wrong global state after restart"
We had 3 managed miners that suddenly restarted (VM crash?). They load the global state from the db, but the layer_id is off by one; see screenshot below.
In addition, their _layer_hash_ is also incorrect. Probably for the same reason.

![bad_state](https://user-images.githubusercontent.com/35497694/76159293-84ed8980-6127-11ea-86c1-b4487dff757f.PNG)

[2020-03-08 12:19] avive commented on #1566
Can a description / overview be added? This issue text is the generic template with no info at all.

[2020-03-08 20:08] yaelmhoffman opened #1878 "No rewards after 49 hours"
The app has synced successfully and been running for over 49 hours, but without the user receiving any rewards.
[spacemesh-log.zip](https://github.com/spacemeshos/go-spacemesh/files/4303807/spacemesh-log.zip)

[2020-03-08 20:13] yaelmhoffman opened #1879 "Node panic"
Application has a Node Start Error on app restart which requires the user to manually stop the go-spacemesh process.
<img width="1135" alt="Screenshot 2020-03-02 at 13 38 11" src="https://user-images.githubusercontent.com/56118594/76170356-df1f3680-6189-11ea-968d-bef82c91c8f0.png">

[2020-03-09 08:05] avive commented on #1879
I was able to reproduce this in the following way:
1. Clean install - start syncing.
2. Setup smeshing/post.

You will get this node panic in some cases after you see in the log that the post file init is complete.
@moshababo @noamnelke @barakshani @IlyaVi

It doesn't happen every time but quite frequently. There is no output of the panic in the log file. The last entry in the log file is the post

[2020-03-09 13:24] yaelmhoffman opened #1881 "Can't connect to the P2P network"
A red bar appears in the app telling the user that they can't connect to the P2P network, requiring them to manually adjust firewall settings and port forwarding.
![20200303_135813904_iOS](https://user-images.githubusercontent.com/56118594/76216848-fc034a80-6219-11ea-9a19-6e05f51db06f.jpg)
[spacemesh-log-Natko.zip](https://github.com/spacemeshos/go-spacemesh/files/4306772/spacemesh-log-Natko.zip)

[2020-03-09 13:32] yaelmhoffman opened #1882 "Red bar error: restart app"
Red bar telling user to restart the app, but restarting doesn't fix the problem.
<img width="1034" alt="Screen Shot 2020-03-03 at 12 29 18 PM" src="https://user-images.githubusercontent.com/56118594/76217437-17bb2080-621b-11ea-9771-200aa1fb1347.png">
[spacemesh-log.txt.zip](https://github.com/spacemeshos/go-spacemesh/files/4306827/spacemesh-log.txt.zip)

[2020-03-09 15:32] noamnelke commented on #1879
So no restart required (unlike the title of this issue)?

[2020-03-09 15:46] avive commented on #1881
@yaelmhoffman - We need logs. Possible? W/o logs we can assume this is an end user p2p config issue but not do much about it - the app is supposed to report when the node can't connect to the p2p network so it is kind of a feature....

[2020-03-09 15:48] avive commented on #1879
correct. Also - the node starts just fine. It just panics when post init file setup is complete so I think the error dialog box is wrong in the app.

[2020-03-09 15:50] avive commented on #1878
@barakshani - is this due to being on the wrong side of the fork? Logs attached.

[2020-03-09 15:54] y0sher commented on #1881
It seems by the logs that indeed the users fails to get responses from the nodes it tries to contact. though this issue lacks context and reproduction methods. as when I run the node I don't get this issue, meaning we need to know more about the user's configuration - firewall used or any other network constraints.

[2020-03-09 15:57] avive commented on #1881
thank you - we'll try to get this information from the user.

[2020-03-09 15:58] y0sher commented on #1882
As far as I can tell, the logs show as the node is working properly, p2p is initialized and connected to gossip, we sync and tortoise runs as it should be.
this indicates either an error with the app or and error with the API exported from the node to the app. @IlyaVi @avive

[2020-03-09 16:00] avive commented on #1882
We should log api responses and timeout on api responses) that trigger the app error bars in the app.

[2020-03-09 16:31] barakshani commented on #1878
yes. they publish an atx but it is, as well as their subsequent blocks, invalid

[2020-03-10 10:23] avive commented on #1879
Looking at the stack trace - it looks like the exception is at activation.go:283 `close(b.initDone)`

[2020-03-10 11:19] noamnelke commented on #1879
The most likely cause is a combination of #1714 and someone (the app?) calling `StartMining` more than once (or calling it once after passing `--start-mining`).

While #1714 will fix the `panic`, I think that calling `StartMining` more than once can have other unintended consequences.

[2020-03-10 11:40] avive commented on #1879
It is likely that it is called more than once due to slow api response which makes the user thinks that nothing happens when he clicked next. We should probably disable 'next' once clicked until an api response is returned from the node. @IlyaVi

[2020-03-10 11:55] #1875 closed, assigned to noamnelke

[2020-03-10 12:08] noamnelke commented on #1879
We can (should?) also put protections on the side of the node. After #1714 is merged, it's worth making sure that further protection is even required.

[2020-03-10 12:16] y0sher opened #1885 "Shutdown delay in p2p"
# Overview / Motivation

we observed that sending a signal to shutdown the node hangs a few seconds to 20 seconds on shutting down p2p.

# The Task

make sure open routines in p2p can be canceled by a shutting down signal.

# Implementation Notes
TODO: Add links to relevant resources, specs, related issues, etc...

# Contribution Guidelines
Important: Issue assignment to developers will be by the

[2020-03-10 17:50] avive commented on #1879
@IlyaVi - we should definitely disable the 'next' button that triggers StartMining once clicked until the API returns a response. I've observed some cases where the user clicks next, nothing seems to happen so she just clicks next again - triggering another StartMining api request...

[2020-03-10 18:05] yaelmhoffman opened #1888 "Fix contacts features"
The contacts features of the app are not working.

[2020-03-11 08:23] avive opened #1890 "Failure to load p2p id from store on node start"
Platform: OS X. Node: v0.1.3. App: v0.0.4 RC.

1. Clean install app (no local data) and run it - let is start syncing.
2. Observe the created p2p id in store.
3. Quit the app and wait for node to cleanup and shut down.
4. Start app again and observe the logs.

Result:
Node looks for the p2p id in the wrong dir (observer .DS_Store in the path. Fails to find it and creates a new p2p id.

Expected:
N

[2020-03-11 08:23] avive commented on #1890
@barakshani @y0sher @IlyaVi

[2020-03-11 08:37] avive commented on #1890
If this is not reproducible w app 0.0.3 then try the 0.0.4 RC from here: https://storage.googleapis.com/smapp/0.0.4/Spacemesh-0.0.4_rc.dmg

[2020-03-11 09:29] noamnelke commented on #1861
<details>
<summary>Log</summary>

[code]
</details>

[code]

[2020-03-11 10:44] antonlerner commented on #1876
@noamnelke , could it be because of this code, where layer hash is persisted only after all layers have been pushed to state?:
[code]

[2020-03-11 11:05] y0sher commented on #1890
interesting, we read all sub-directories under `data-dir/p2p/nodes` and take the first one. probably we should ignore .DSStore or any other `.` hidden dir

[2020-03-11 11:22] noamnelke commented on #1876
I don't think it would make a difference if the `m.persistLayerHash()` was at the end of the loop. If there are more layers to push to the state and the loop isn't done yet, then you may get more layers to be persisted, but not all of them (since you didn't complete the loop).

What we need here is to process layers in a transaction, so we either persiste the entire update or none of it (and then

[2020-03-11 12:12] antonlerner commented on #1876
I believe this is thee cause for the bug, do you agree?

[2020-03-11 12:32] noamnelke commented on #1876
I haven't looked at the entire code flow, but iirc (and this code snippet supports that) there's no tight control of state transitions. I.e. if a node crashes during a state transition it may end up with an invalid state.

This is not a small fix like moving the `m.persistLayerHash()` one line up. It's a change that may require changing some of the flows in the state transition and atomically pers

[2020-03-11 12:56] barakshani opened #1891 "ATX view should not contain too old blocks"
Currently ATXs contains a view (this may be changed, see https://github.com/spacemeshos/go-spacemesh/issues/1822), on which we traverse a full epoch (counting ATXs = active set). This view should not contain blocks that are 2 epochs previously to the ATX publication epoch: we won't traverse these blocks anyway.

[2020-03-11 15:21] #1885 closed, assigned to nobody

[2020-03-11 16:20] antonlerner opened #1892 "Fork in test_kill_node"
## Description
when running test kill node, we see that one miner has a different layer hash than the others, this is due to it failing to get validation result for block `0122f`
miner is `sm-client-vfk1j-tlwlm-6c96767f57-s4tdz`
deployment `vfk1j `

here you can see this block has been processed:
<img width="883" alt="Screen Shot 2020-03-11 at 18 12 27" src="https://user-images.githubusercontent.c

[2020-03-11 16:41] antonlerner commented on #1892
pbase seems to be stuck
http://kibana.spacemesh.io/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:now%2Fw,mode:quick,to:now%2Fw))&_a=(columns:!(M,kubernetes.pod_name,current_sync_layer,layer_id,layer_hash),filters:!(('$state':(store:appState),meta:(alias:!n,disabled:!f,index:'6126dfe0-5d3c-11ea-beeb-55f7b675b2db',key:kubernetes.pod_name,negate:!f,params:(query:sm-client-vfk

[2020-03-12 07:54] barakshani commented on #1892
I had a look at the logs:
Layer 4 blocks have a very long propagation delay (more than 30 seconds); I haven't checked the cause of it.
P_base isn't really stuck, but because the miner doesn't get all layer 4 blocks on time, it does not advance p_base before it needs to know the contextual validity (I'm guessing for the Hare beacon). Once enough layer 4 blocks are received, p_base does advance.

[2020-03-12 16:31] antonlerner opened #1893 "race with SaveContextualValidity"
## Description
we've moved `saveOpinion` to another flow that is outside of `ValidateView`
after ValidateView returns we might want to ask for validity before it is persisted. resorting in a race between storing opinion and reading it

[2020-03-12 16:49] avive opened #1894 "Node shutdown gets stuck"
## Description
Node cleanup doesn't terminate.

## Steps
1. Start the app and start syncing.
2. Quit the app.
Result: node is signaled to stop. Cleanup starts but doesn't finish (waiting 30 minutes) and go-spacemesh process is not terminated.
Expected: node cleanup to finish and go-spacemesh process to exit.

Logs
[code]

## Environment
Please complete the following information:
 - OS:  OS X
 - No

[2020-03-12 17:02] avive commented on #1894
Doesn't happen every time but pretty frequently.

[2020-03-13 09:49] barakshani commented on #1893
You mean ValidateLayer, right?

[2020-03-13 09:49] barakshani commented on #1892
The fork is caused by this issue https://github.com/spacemeshos/go-spacemesh/issues/1893

[2020-03-13 13:12] avive commented on #1879
High confidence that 0.0.4 app and node v0.1.5 address this issue - I'm verifying this.

[2020-03-15 08:55] y0sher opened #1895 "peer blacklisting/banning"
## Description

we want to implement peer blacklisting mechanism, note that this has several levels and needs more design work. as in - we want a complete blacklist for peers that we identified as malicious, but we should make sure we have some kind of backoff to less severe cases. also we need to make sure it's really hard to make another honest player be blacklisted.

[2020-03-15 08:55] y0sher commented on #1241
essentially this should function as stopping the peer and disconnecting if it has a protocol error with this peer that can't be handled in only by p2p.. protocol should have an api to report an error to p2p.

this is a prerequisite to #1895

[2020-03-17 11:59] ghost opened #1901 "Unhandled error(grpc request)"
## Description
Accidentally discovered that erroneously transmitted data kills the node process.

## Steps To Reproduce
1. `curl http://localhost:9090/v1/accounttxs -H "Content-Type: application/json" -d '{"address":"0xafed9a1c17ca7eaa7a6795dbc7bee1b1d992c7ba"}'`
2. It will kill spacemesh process

## Expected Behavior
Correct error handling

## Environment
Please complete the following information

[2020-03-17 12:22] moshababo commented on #1901
Thanks for reporting!
Will be fixed soon.

[2020-03-17 15:59] ghost opened #1903 "Private key of faucet account in config"
## Description
This is not a safest way, to store faucet (tap) private key

## Affected code
https://github.com/spacemeshos/go-spacemesh/blob/0cd25ae79d4935a1d1d31b0620c6f12abe46627e/tests/tx_generator/config.py#L4

[2020-03-18 09:58] almogdepaz opened #1904 "sync panic in zero layer flow"
## Description
node tries to fetch layer 46 which it already received in gossip (the node got out of sync) peers don't respond to layer requests so we set layer to 0 blocks (even though we have blocks from that layer) next layer requests are answered and it seems we feed it to the tortoise without feeding the blocks in the view (layer 46 missing due to networking) causing a panic

## Expected Beha

[2020-03-18 11:46] moshababo opened #1905 "PoET list of members to be hashed instead of constructing Merkle tree from"
## Description
The PoET service currently broadcasts proofs containing the ordered list of its members. This list is  provided instead for a distinct Merkle proof per member, since all membership proofs will eventually be needed on the network.
Despite that, the list is being used to construct a Merkle tree, for deriving a root which is used as the PoET input (the "statement"), instead of just bei

[2020-03-18 15:50] ghost opened #1908 "GRPC does not return "amount""
## Description
API does not return `amount` if you specify amount=0 when sending transaction

## Steps To Reproduce
1. Send transaction with amount = 0
![image](https://user-images.githubusercontent.com/52304443/76977277-2a81d380-6946-11ea-9dd8-c98ec37278d5.png)
2. Convert ID transactions to byte array
`list(bytearray.fromhex("b0f1e86eacca71e35dec42fe2e8001443d7f4aa153f347123c2368860d27a40a"))`
3.

[2020-03-19 17:03] barakshani opened #1911 "gossip and fetch sync conflict"
When a miner performs data availability and it misses an item, it initiates a fetch sync. The flow is that it asks one peer and if it doesn't get it from that peer (either timeout or the peer doesn't have it) it will move on to the next peer and so on.

If, during a request to one peer, the miner gets the item via gossip, it will not stop the flow described above (and resume to the data availabili

[2020-03-20 13:59] avive commented on #1833
@barakshani : is this a good explanation and repo case? It is not clear from the above.
1. Start a new miner and start syncing it.
2. Restart it before it synced the layer with the first tx in the net.

Result: miner will fork.

Expected: miner to reach same state as other healthy non-restarting nodes.

[2020-03-22 12:05] moshababo commented on #1855
@barakshani  Is it ready for implementation?

[2020-03-22 12:11] barakshani commented on #1855
No.
Ideally this issue, or the one referenced above, will contain content for implementation.

[2020-03-22 17:11] #1805 closed, assigned to antonlerner

[2020-03-23 11:50] y0sher opened #1918 "client version is checked against hardcoded version"
## Description

we have a simple version matching mechanism in p2p that is meant to make sure we only work with backward compatible versions. we compare the versions during handshake. though we've started updating version numbers, the actual version we use to comparing is stored under `p2p/config/params.go`

the version there is still set to `0.0.1`

## Expected Behavior

version is updated accord

[2020-03-23 11:53] avive commented on #1918
I think that ideally there should be a build flag - min supported client version which defaults to the currently built version so backward compatibility can be set at build time.

[2020-03-24 10:40] avive commented on #1840
Current health check on branch develop go-spacemesh:
1. go lint issues: 1386 (including go-doc errors)
2. go vet issues: 29
3. goland inspection (code-> inspect code -> whole project) -> typos (most are false positives) + code style issues.
4. Packages with missing go-doc synopsis: https://pkg.go.dev/github.com/spacemeshos/go-spacemesh?tab=subdirectories. How do we find all go-doc issues?
5. TODOs

[2020-03-24 14:28] antonlerner opened #1921 "errors writing to DB should be properly handled"
## Description
When writing to various DBs in the node, an error might occur, currently most of these errors are unhandled properly

we should decide what to do in case of OOM errors or other writing errors and decide whether we should panic or somehow try to recover.

[2020-03-24 14:40] antonlerner opened #1922 "Think about consolidating dbs"
## Description
currently we have activation db, id storedb, mesh db, state db and general db seperatly
We need to think whether it is a good idea to merge some of these dbs, at the cost of maybe extending search time or using same cache for different parts of the system

[2020-03-24 14:51] antonlerner opened #1923 "remove debug print in nipst builder"
## Description
remove log print in `BuildNIPST` function
[code]

[2020-03-24 14:54] antonlerner opened #1924 "move MaxTransactionsPerBlock to config"
## Description
move MaxTransactionsPerBlock from `block_builder` to config

[2020-03-24 14:57] antonlerner opened #1925 "ATX data availability"
## Description
When receiving an ATX without the NIPST refrence found in db, we should fetch it from neighbour

check out `handleGossipAtx` in `block_builder.go`

[2020-03-24 15:54] antonlerner opened #1926 "refactor fixed rolacle out of initServices"
## Description
fixed rolacle is a mock oracle for testing, it is currently in initServices which is production code, we need to decouple test code from production code

[code]

[2020-03-25 13:13] barakshani opened #1930 "Unique Genesis for testnets"
ONLY RELEVANT FOR TESTNET:
Until a complete Genesis flow is implemented, all blocks should have a unique hash, only relevant for that specific testnet, so that blocks from different networks won't get entangled. This should be also verified. This value can be in the toml file, for example derived from the Genesis time.
We can also add it to ATX, though not really necessary (most atxs won't pass th

[2020-03-25 13:52] barakshani commented on #897
Make sure to remove this patch https://github.com/spacemeshos/go-spacemesh/issues/1930 once the task is completed

[2020-03-25 14:12] barakshani opened #1931 "Hare results on a zero-block layer"
Currently the block builder, in `getVotes()`, asserts that miners vote explicitly on the _bottom_ layer of hdist:
[code]
If there are no Hare results for that layer, the block would vote on the _entire_ layer.

When that layer has no blocks, it seems that `LayerBlockIds()` on meshdb.go would err:
[code]
Therefore, the error above occurs, and subsequently `createBlock()` would return an error and w

[2020-03-26 12:13] avive commented on #1764
@ilans - this is what I mentioned in our talk about the API

[2020-03-26 12:55] avive commented on #1764
Consider adding pagination to all methods which return a list of data items. @IlyaVi

[2020-03-26 13:19] barakshani commented on #1681
This issue would become irrelevant once https://github.com/spacemeshos/go-spacemesh/issues/897 is completed

[2020-03-26 13:20] barakshani commented on #897
https://github.com/spacemeshos/go-spacemesh/issues/1681 can be closed once the task is completed

[2020-03-26 15:52] avive commented on #1881
This should be fixed in 0.0.6.

[2020-03-26 15:52] #1881 closed, assigned to nobody

[2020-03-26 15:53] avive commented on #1882
This should be fixed in 0.0.6 - it was just too aggressively displayed on startup.

[2020-03-26 15:53] #1882 closed, assigned to nobody

[2020-03-26 15:54] avive commented on #1878
Not relevant anymore in net id 113.

[2020-03-26 15:54] #1878 closed, assigned to nobody

[2020-03-27 15:09] lrettig opened #1942 "./merkle/pb/*.proto: No such file or directory"
## Description

Cannot build go-spacemesh on OS X from a fresh clone of the develop branch

## Steps To Reproduce

[code]

## Environment
Please complete the following information:
 - OS: OS X
 - Node Version: commit c2d52d462ceaad0c587a3333c290d1db031d67aa

[2020-03-27 15:11] lrettig commented on #1942
Looks related: #1917
e2bf93bc13fbdfe732c4d3cef416feaf1afe9dc7

[2020-03-27 15:16] lrettig commented on #1942
This is happening because I had an old protobuf file lingering: `merkle/pb/node.pb.go`. I didn't spot it because the `.gitignore` contains the pattern `**/pb/*.pb.go`. Removing it makes the error go away.

Can we somehow change `scripts/genproto.sh` to fix this issue?

[2020-03-27 15:35] lrettig opened #1945 "rlp encode into strbuf directly"
## Description

Encode directly to string buffer (what's wrong with these intermediate steps?) during RLP encode

## Affected code

TODOs from:

https://github.com/spacemeshos/go-spacemesh/blob/c2d52d462ceaad0c587a3333c290d1db031d67aa/rlp/encode.go#L194
https://github.com/spacemeshos/go-spacemesh/blob/c2d52d462ceaad0c587a3333c290d1db031d67aa/rlp/encode.go#L398

[2020-03-27 15:38] lrettig opened #1946 "rlp decode using Stream from a pool"
## Description

Use Stream from pool rather than `NewStream` in RLP decode/decodebytes

## Affected code

Related files (optionally with line numbers):
https://github.com/spacemeshos/go-spacemesh/blob/c2d52d462ceaad0c587a3333c290d1db031d67aa/rlp/decode.go#L129
https://github.com/spacemeshos/go-spacemesh/blob/c2d52d462ceaad0c587a3333c290d1db031d67aa/rlp/decode.go#L137

[2020-03-27 15:48] lrettig opened #1947 "Add instructions on running godoc to README"
## Description

As part of #1840 we need to "Fix errors reported when running godoc on go-spacemesh." I have no idea how to "run godoc on go-spacemesh." When I run `godoc` on the commandline, I get very confusing output that talks about an HTTP server:

[code]

[2020-03-27 16:40] lrettig commented on #1947
It seems like the command I want to run is something like `godoc -analysis=type,pointer` -- but this runs for all of the packages in my $GOROOT, and runs forever. @avive let me know if I'm missing something obvious here.

cf. https://golang.org/lib/godoc/analysis/help.html, https://godoc.org/golang.org/x/tools/cmd/godoc

[2020-03-27 17:05] lrettig opened #1949 "Check if caching base58 encoded string of the private key binary data is worthwhile"
## Description

The `String()` function in `crypto/keys.go` used to use caching. It was removed in https://github.com/spacemeshos/go-spacemesh/commit/64f61d6beb6df9fe489403b28b8a80f98007b58a#diff-e14633a61c8dceca5cef1638df656895L155 (not sure why). Should we add it back?

## Affected code

Related files (optionally with line numbers):

TODO from https://github.com/spacemeshos/go-spacemesh/blob/c2d

[2020-03-27 17:22] lrettig opened #1950 "Use sha3 as library"
## Description

The golang.org/x/crypto/sha3 code (https://github.com/golang/crypto/tree/master/sha3) was brought into go-spacemesh in https://github.com/spacemeshos/go-spacemesh/pull/327/commits/70926561919ec9c5acab3e8f02aacef95382f185. I'm not completely sure why. None of the code has been touched since then (https://github.com/spacemeshos/go-spacemesh/commits/develop/crypto/sha3).

Can we go ba

[2020-03-27 17:25] avive commented on #1950
@antonlerner

[2020-03-27 17:31] avive commented on #1947
Just run this to see all go-doc related errors: `golint ./...`

[2020-03-27 17:37] lrettig commented on #1947
Okay, so by godoc you meant golint? If so then I misunderstood and I guess we can close this :)

[2020-03-28 09:21] noamnelke commented on #1942
This is actually a known (but undocumented) issue.

This is what needs to be done, it's just never a priority.

To shed more light: when we remove a package that has `.proto` files in it, the corresponding (locally generated) `.pb.go` files are not removed (as you noticed, they're `.gitignore`d). `scripts/genproto.sh` looks for all `/pb/` folders and when it finds one without a `.proto` file in it

[2020-03-28 11:15] avive commented on #1942
I went through the same thing yesterday - had to manually delete my local merkle directory to make it go away.

[2020-03-28 19:53] lrettig opened #1954 "protobuf/gcc errors on windows"
## Description
Running into the below error when trying to run `make install` on Windows

## Steps To Reproduce
1. Install prereqs
1. Clone repository
1. Run `make install`

## Environment
 - OS: Windows 10
 - Node Version: building from head eaea050e3e3f4404481aa9b231f4e7e14af67cef

## Additional Resources
[code]

[2020-03-28 20:06] lrettig commented on #1954
This seems to work in powershell, I'm not sure why `setup_env.bat` isn't working:

[code]

[2020-03-29 09:30] y0sher commented on #1861
Hare panic -
[log.txt](https://github.com/spacemeshos/go-spacemesh/files/4398539/log.txt)

[2020-03-29 09:30] y0sher commented on #1861
hare delayed asserts - didn't check logs, might as well be a delayed log problem.
[hare_delayed_asserts.txt](https://github.com/spacemeshos/go-spacemesh/files/4398541/hare_delayed_asserts.txt)

[2020-03-29 13:42] barakshani commented on #1856
See relevant part here: https://github.com/spacemeshos/research/issues/33

[2020-03-29 15:14] avive commented on #1888
Contacts screen issues:
1. Valid addresses are rejected as invalid.
2. Create button is white and is hardly visible over light grey background - get better color with more contrast from designer and use it. Maybe even a big green or purple button?

<img width="1340" alt="Screen Shot 2020-03-29 at 6 14 26 PM" src="https://user-images.githubusercontent.com/96002/77852791-275dd180-71e9-11ea-9dcb-8a14

[2020-03-30 08:19] #217 closed, assigned to gavraz

[2020-03-30 10:56] barakshani commented on #953
See relevant part here https://github.com/spacemeshos/research/issues/25

[2020-03-30 11:10] #1947 closed, assigned to nobody

[2020-03-30 11:13] avive opened #1961 "Constant coin issuance per layer"
## Description
We must ensure constant coin issuance per layer. Currently there's a Smidge remainder that is not distributed after the block reward per participating smeshers is calculated out of the layer total reward.

## Steps To Reproduce
Observe the logs of layer rewards computation. There's a reminder that is not distributed.

## Expected Behavior
Figure out how to distribute the reminder to

[2020-03-30 11:14] avive commented on #1961
@tal-m @noamnelke @antonlerner  fyi

[2020-03-30 11:30] noamnelke commented on #1961
I'd also like to do something about it for esthetic purposes, but I don't think it's high priority - do you agree?

The solution that I like most is to roll this remainder over to the next layer. This way each layer has an infinitesimally small difference with other layers (nothing that an adversary can meaningfully benefit from), but this difference doesn't accumulate over time.

What mostly both

[2020-03-30 12:54] avive commented on #1961
It is not a high priority but needs to be done so I wrote this issue so we won't forget. Rolling the reminder to the next layer and assuming it was issued is a cool idea. I like it.

[2020-03-31 01:14] ghost opened #1963 "GetTxIdsByAddress returns duplicate txids"
## Description
Endpoint `v1/accounttxs` returns a lot of duplicated hashes

## Steps To Reproduce
1. `curl -s  http://localhost:9090/v1/accounttxs -H "Content-Type: application/json" -d '{"account": {"address":"0x4466d6ca8f57b87c59e9c52037c0b866018b806e"}}' | jq ."txs"`
![image](https://user-images.githubusercontent.com/52304443/77976386-87e23100-7305-11ea-9483-eb2758830b3b.png)

2. `curl -s  http

[2020-03-31 08:39] lrettig opened #1964 "Telemetry"
Opening a placeholder issue for this project and to begin collecting requirements. Telemetry will allow us to collect logs and events from nodes in a more structured fashion.

Reminder to self to talk to Yosher before working on this.

CC @ilans

[2020-03-31 08:42] lrettig commented on #1783
This is no longer an issue since more recent releases include upnp 🤓

[2020-03-31 08:42] #1783 closed, assigned to nobody

[2020-03-31 08:44] lrettig commented on #1518
Is this distinct from telemetry? (#1964) CC @avive

[2020-03-31 11:50] gavraz opened #1965 "preround status optimization"
We made optimization to the size of status messages. Instead of sending the preround certificate as in the original article, we count on the fact that preround messages will arrive no later than the following round, hence each participant is expected to be able to find proof of status messages at the end of the status round.

Thi optimization required a few tweaks like moving status message valida

[2020-03-31 12:04] gavraz opened #1966 "termination round"
after termination, a committee signs the hare results.
This should not be part of the Hare protocol. It is merely a step that should be done after consensus is terminated.
This is part of protocol 2.0.

[2020-03-31 12:47] gavraz opened #1967 "Support empty set hare result"
Hare-wise: should support reaching consensus on an empty set.
State-wise: update the state with the blocks from the hare, so nothing to update in that particular layer
Block-wise: vote on the blocks from the hare, so no votes for that particular layer.

[2020-03-31 13:20] barakshani opened #1968 "Size of messages in hare protocol are too large for P2P network (esp. SVP)"
Listed some potential issues to address once we run the hare protocol on a large scale.
The protocol specifies running that hare with committees of size N= 800, and so f=401.

- [ ] 1. size of messages. most messages contain a certificate assembled of f messages. SVP is even larger. A recommended solution is to implement _references_ (pointers) in hare messages, that would significantly reduce the

[2020-04-01 03:49] avive commented on #1964
Please also talk with @IlyaVi about app-level error reporting.

[2020-04-01 03:51] avive commented on #1950
@noamnelke - what do you think?

[2020-04-01 15:16] lrettig commented on #1950
If there are no objections here, I'll take care of this. Assuming we haven't touched the library, it should be quite simple to just switch back to importing it. If we have, we can wrap just that portion.

[2020-04-02 08:28] lrettig commented on #1792
Note to self: talk to @noamnelke and @antonlerner about indexes and data as part of the architecture design.

[2020-04-02 13:35] antonlerner opened #1971 "Apply state updates layer hash for blocks received from hare protocol"
## Description
currently, we are updating layer hash and global state in 2 cases:
1. when tortoise finishes to validate a layer
2. when results are received from hare

Whenever state is updated, a new layer hash is calculated and is written as latest layer hash
However, when updating the state and layer hash with blocks from hare, the blocks are not yet contextually valid, and therefore `setLayerH

[2020-04-02 19:21] noamnelke commented on #1950
So actually... Why do we use sha3 at all?

I looked at the code usages and it looks like we only use it in code we copy-pasted blindly from Ethereum. Our other hashes are all sha256 (using our optimized library) and the api is identical so changing hashing algorithms would be trivial.

I suggest we use this opportunity to switch to `sha256-simd`.

@avive any objections?

[2020-04-03 06:10] avive commented on #1950
You should talk with @antonlerner - I think it is used as part of the usage of the Ethereum Trie in sm. So, he will know. I have no objection to use sha256-simd for all hashes.

[2020-04-05 15:46] ilans opened #1973 "Print eligibility of blocks per layer per miner"

[2020-04-06 12:10] avive commented on #1841
@lrettig - part of api refactoring we need to discuss

[2020-04-06 12:12] avive commented on #321
no longer relevant as of 0.2

[2020-04-06 12:12] #321 closed, assigned to antonlerner

[2020-04-06 12:14] avive commented on #1894
Not reproducible on v0.1.8

[2020-04-06 12:14] #1894 closed, assigned to nobody

[2020-04-06 12:15] avive commented on #1879
Fixed in 0.0.6

[2020-04-06 12:15] #1879 closed, assigned to nobody

[2020-04-06 12:19] avive commented on #1764
I believe we should refactor the API into categories / facades in the node level instead of just having a flat list of methods. This can be as simple as adding the facade name after v1 in methods rest urls. e.g. /v1/mesh/method1...

Additional things to consider:
1. Adding pub/sub support for server-side streaming data - at least for GRPC over http2. Some GRPC clients support server-side streaming

[2020-04-06 12:59] avive commented on #1764
Inventory of API clients:
1. App / Wallet.
2. Dashboard backend.
3. Explorer backend.
4. Backup agent (backup testnet data in a restorable way).
5. Marketing programs reports. e.g. rewards program top 100.

[2020-04-06 13:55] avive commented on #1764
@lrettig @YaronWittenstein - We need to specify the API category for smart wallets. e.g. A method to read data from an app instance.

[2020-04-06 15:42] lrettig commented on #1764
I wasn't aware that you can do streaming over GRPC. That's exciting to hear. I'll look into it. I think streaming is important but I'm not married to websockets.

Agree. For comparison, this is how [geth](https://github.com/ethereum/go-ethereum) works:

[code]

[2020-04-06 15:46] lrettig commented on #1764
I don't think the smart wallet, or any dapp, needs to use a special API. It's just transactions, right? Or in the case of statically reading data, it's like a "quasi" transaction. Basically we need to start thinking about what a Spacemesh `web3.js` would look like.

[2020-04-06 17:19] YaronWittenstein commented on #1764
I'll soon start working on [App's Storage ABI](https://github.com/spacemeshos/svm/issues/112).
The consequent tasks should be exposing `gRPC / HTTP` interface over the Full-Node.
(which will propagate requests to the upcoming `go-svm` client)

[2020-04-07 06:37] noamnelke commented on #1840
Current status of `go-spacemesh`:

1. `golint` issues: 0
2. `go vet` issues: 0
3. GoLand still reports some issues, but nothing critical IMO. The main reason I don't want to invest in fixing these is that there's no way (that I know of) to validate this in CI.
4. I think all packages have a synopsis now, but it will only be updated [here](https://pkg.go.dev/github.com/spacemeshos/go-spacemesh?tab=

[2020-04-07 06:45] noamnelke commented on #1570
@lrettig if you're working on logs then you should be aware of this change I made a couple of months ago: https://github.com/spacemeshos/go-spacemesh/pull/1808

It makes many of our custom types implement the `LoggableField` interface which allows us to just include a variable in the log message and it will be formatted in a way that makes sense. I haven't converted any of the existing logs to use

[2020-04-07 07:54] avive commented on #1840
1. On `develop` I get these for `golint ./...`:
[code]

2. Super nice!
3. ok.
4. Let's wait until it refresh and do minor changes if needed.
5. @antonlerner  believes we should keep them in the code as future refactoring notes and not create issues out of them.

[2020-04-07 07:56] avive commented on #1840
It is amazing to see the nice progress we had on this project!

[2020-04-07 08:39] noamnelke commented on #1840
regarding 4: it doesn't refresh on it's own - only when we create a new tag that includes these changes.

[2020-04-07 10:14] avive commented on #1840
1. is fixed after golint update per @noamnelke suggestion.

[2020-04-07 16:35] lrettig commented on #1840
Well done guys - huge success

![Borat](https://media2.giphy.com/media/l2YWmzOpaGK0b0TZK/giphy.gif)

[2020-04-07 16:41] lrettig commented on #1570
@noamnelke thanks for the heads up! That's exactly what I've been doing in #1952 - see for instance https://github.com/spacemeshos/go-spacemesh/pull/1952/files#diff-fbc8f466cd0cde2afe76fa37ca7ee514R174

[2020-04-07 19:26] lrettig commented on #1923
Will handle in #1952

[2020-04-08 12:52] antonlerner opened #1977 "Active set size from blocks"
- [x] process and persist received ATX when received from gossip
- [x] index processed ATXs by epoch ID
- [x] add ATX list in block
- [x] add block pointer to blocks
- [x] add cache of atx lists to block
- [x] remove active set size calculation
- [x] remove active set size verification
- [x] patch hare active set size

[2020-04-09 16:12] avive commented on #90
@y0sher is this still relevant?

[2020-04-09 16:13] avive commented on #32
@antonlerner - is this still relevant?

[2020-04-10 12:00] avive opened #1979 "Transactions issue"
## Description
Unexpected response from node api regarding a transcation.

## Steps To Reproduce
1. Call /v1/accounttxs to view this account transactions:
[code]
Results:
[code]
2. Call /v1/gettransaction on ANY of these transactions.

## Behavior
[code]

## Expected Behavior
Return txs data.

## Environment
Please complete the following information:
 - OS: OS X
- Env: open testnet
- Node version:

[2020-04-11 19:40] lrettig opened #1980 "include node_id, epoch, and layer in every log line"
## Description

Every log line should include, at a minimum, these fields. @ilans asked for this, and Barak asked for this in #1570.

One example log statement that doesn't include node_id now is "release tick":

`{"L":"INFO","T":"2020-04-10T16:43:42.008-0400","N":"ticker","M":"release tick","event":true,"layer_id":6366}`

I don't know why this is the case, given the way the logger is configured:

[2020-04-12 13:39] antonlerner commented on #1979
It seems that transactions were processed by node correctly,
[code]
 @noamnelke  can you check API call is good?

[2020-04-12 14:38] avive commented on #1979
The app is not getting these transactions as well. The I'm trying to get the tx info is via
/v1/gettransaction with post json of:
`{
  "id": "9e183718f45a38fc1dba02f4eb36edb98f6ca60c87008ace93c68b9be67c0cfd"
}`

[2020-04-13 12:06] avive commented on #1908
Shouldn't a coin transaction always have an amount of 1 or more smidge? What is the benefit of having 0 amount coin transactions? @noamnelke @antonlerner

[2020-04-13 12:07] avive commented on #1840
We now wait to see how go-spacemesh will look on https://pkg.go.dev/github.com/spacemeshos/go-spacemesh?tab=subdirectories - the docs are generated when the next tag will be created.

[2020-04-13 12:17] avive commented on #1764
yes - this epic is what is the sm.js looks like...

regarding smart wallet - the part in the api which is not txs that we need to specify is the method(s) to read wallet storage data. For example, to populate a smart wallet ui in the app...

[2020-04-13 13:06] ghost commented on #1908
Same situation with `fee` and `gas`. it’s technically possible to send a transaction with `fee` = 0
![image](https://user-images.githubusercontent.com/52304443/79122581-b4378c00-7da0-11ea-8037-39ec82ad1a45.png)
Transaction ID: `9d86abae9746165c5eea7441114c606fe4c9fbc497c1922e54e78cf42cabcce3`
But i'm not sure, that this transaction will be confirmed

[2020-04-13 13:53] salvatore63 commented on #32
sorry for the long absence, it is very important for me, I plan to deepen
my knowledge in go and rust. I had practical problems at home and at work
but I hope to be able to reorganize myself shortly.

Il giorno gio 9 apr 2020 alle ore 18:14 Aviv Eyal <notifications@github.com>
ha scritto:

--

 Sito Personale <http://figlidellaterra.webnode.it>

[2020-04-13 14:24] noamnelke commented on #1979
That's because you're not using the API correctly. The `/v1/gettransaction` endpoint accepts a byte array as TXID.

E.g.:
[code]

To convert a hex string to a byte array, in python3 run this (remember to remove the `0x` in the beginning):
[code]

[2020-04-13 14:27] noamnelke commented on #1979
BTW, inconsistencies in our wallet API is something Ilya and I are aware of, making the API consistent in the format of values like addresses should be part of the overhaul I have in mind.

[2020-04-13 15:00] avive commented on #1979
@IlyaVi - so this issue is back to you: I don't see these transactions in the app. I only see 3 txs in the log.

[2020-04-13 15:07] lrettig commented on #1764
From [Discord](https://discordapp.com/channels/623195163510046732/691262184050786305/692406372863836221):

![image](https://user-images.githubusercontent.com/3316532/79131671-f5b34180-7d76-11ea-8e4e-07e2ae2dd3d1.png)

[2020-04-13 15:51] noamnelke commented on #1979
@avive this is not a `go-spacemesh` issue (until new evidence is presented) so I'm closing this issue and you can open a new one in `smapp`.

[2020-04-13 15:51] #1979 closed, assigned to antonlerner

[2020-04-13 15:58] avive commented on #1979
ok

[2020-04-13 16:05] noamnelke commented on #1908
@c29r3 The reason zero-value fields are "missing" from the raw response from the API is that the response is serialized using [Protobuf](https://developers.google.com/protocol-buffers) before being converted to JSON and Protobuf encodes zero-value and missing fields the same way. The API response's missing fields should be interpreted as zeros by the caller.

@avive We currently don't impose a min

[2020-04-13 16:05] #1908 closed, assigned to moshababo

[2020-04-13 19:01] lrettig commented on #1764
You just write a "constant" method in the smart contract and call it like this:

https://web3js.readthedocs.io/en/v1.2.6/web3-eth-contract.html#methods-mymethod-call

[2020-04-13 19:54] avive commented on #1908
I don't understand the logic behind 0 tx fees - it has to be 1 smidge - the smallest unit. Otherwise, DOSing the tx pool and filling the mesh blocks with valid txs has 0 cost.

[2020-04-13 19:56] avive commented on #1764
I don't think this is yaron's current design for read-only data in svm... I think he wants to have an explicit api for this use case...  @YaronWittenstein

[2020-04-13 20:04] avive commented on #1979
@lrettig - I think we want to make sure that we canonical tx ids in the updated api and not byte arrays which are very caller unfriendly. It fooled me because all most other methods accept hex strings as valid ids.

[2020-04-13 20:24] YaronWittenstein commented on #1764
@avive @lrettig

The current `App Storage` infrastructure has no notion of permissions.
My plan was to add such constraints on top - when we'll get to implementing the _SMESH_ language.

[2020-04-14 07:49] noamnelke commented on #1908
I don't think 1 "smidge" is enough to discourage spam transactions. I think the minimum should be higher.

In case what I wrote wasn't 100% clear - I'm NOT advocating allowing zero-fee transactions, but I do think we should allow zero-**amount** transactions (that was the example I gave).

[2020-04-14 07:53] noamnelke commented on #1840
Worth noting that not all packages have a synopsis yet.

![image](https://user-images.githubusercontent.com/776358/79199682-024e9d00-7e3e-11ea-945c-39e2939f1c06.png)

Are we content with this situation or do we want to make a last effort and fill in the blanks?

[2020-04-14 08:21] lrettig commented on #1764
Agree with Yaron. You can't have permissions on state data. Every node needs to be able to read all of the state to validate transactions - unless you want to talk about doing something super complicated using zero knowledge proofs, and we're obviously not going that route anytime soon!

Can totally add that on top using encryption of course :)

[2020-04-14 10:09] lrettig opened #1981 "Add libbeat support"
See #1964

https://github.com/elastic/beats/tree/master/libbeat

Instructions are here: https://www.elastic.co/guide/en/beats/devguide/current/beater-interface.html

Per @ilans for shipping logs to logbeat

[2020-04-14 10:10] lrettig opened #1982 "Log rotation"
See #1964

In addition to shipping logs we also need to rotate them so they don't get too huge

[2020-04-14 11:34] avive commented on #1964
App Telemetry data should go to the app logs and be sent using the 3rd party telemetry solution. @ilya is going to decide on which solution to use. User must be able to opt-out from error and telemetry reporting via the settings.

[2020-04-14 17:06] lrettig commented on #801
@ilans is this still an issue?

[2020-04-14 17:07] lrettig commented on #1964
To recap what we discussed today: it's OPT-OUT for the testnet, OPT-IN for mainnet.

[2020-04-14 17:08] lrettig commented on #1964
I wasn't aware of this previously, but for comparison, geth has [built-in metrics](https://github.com/ethereum/go-ethereum/tree/master/metrics):

[code]

[2020-04-14 17:16] lrettig opened #1983 "Update CLI/config for new API"
We need to add two main features:

- enable/disable individual services (NodeService, SmesherService, etc.)
- pick a version of the API (see https://github.com/spacemeshos/api/issues/55#issuecomment-644946443)

For reference:

- geth: https://github.com/ethereum/go-ethereum/wiki/Management-APIs, https://geth.ethereum.org/docs/rpc/server
- openethereum: https://wiki.parity.io/JSONRPC

[2020-04-14 17:20] lrettig opened #1985 "Archive mode"
Archive mode runs a node in a mode where _all intermediate database states_ are stored.

Alternatively, "normal" mode could include a "garbage collector" that's on by default and discards these intermediate states, so that "archive mode" means "no gcmode."

[2020-04-14 20:10] salvatore63 opened #1986 "make the queue generic"
/develop/sync/fetch_queue
queue       chan []types.Hash32     //types.TransactionID

[2020-04-14 20:43] lrettig opened #1988 "Clean up code headers"
Lots of our code headers still contain "This file is part of the go-ethereum library". This should be cleaned up.

https://github.com/spacemeshos/go-spacemesh/search?q=go-ethereum&unscoped_q=go-ethereum

[2020-04-14 20:48] sl-he opened #1989 ""Fatal: goroutine panicked. Stacktrace: goroutine 1 [running]" exception"
## Description
I just run my node with last snapshot (https://github.com/spacemeshos/go-spacemesh/tree/9e60bf9fc6a714b9fcbb925fa2714349e5378af6)

## Steps To Reproduce
1. Just run node with command /home/user/source/go-spacemesh/build/go-spacemesh --grpc-server --json-server --tcp-port 7153 --config /home/user/source/go-spacemesh/build/tn01.toml -d /home/user/source/go-spacemesh/build/sm_data --po

[2020-04-15 07:50] avive commented on #1989
Thanks for the nice bug report and stack trace. Curious what happens if you delete /home/user/source/go-spacemesh/build/sm_data and run again - do you get the same error or no error?

[2020-04-15 09:44] sl-he commented on #1989
Now I updated the version to 0.1.9 and I no longer see this error...

[2020-04-15 11:44] avive commented on #1989
After updating - did you run with the same data folder using existing data or did you start with a new empty data folder?

[2020-04-16 00:11] wehrv commented on #114
Since Linux Containers on Windows using HyperV and WSL2 works quite well and is expected to be generally available "any day now", wouldn't concentrating on performance and correctness of the Linux container version of Spacemesh give excellent availability to interested users?

[2020-04-16 07:00] avive commented on #1903
@antonlerner @AmitShaul - we should get the tap private key out of the codebase and use a new key pair for the 2 tap accounts before deploying the new testnet because several marketing programs such as the store can't be launched while any user can get any amount of smesh.

[2020-04-16 08:52] avive commented on #1903
@noamnelke said he's going to look into it - what we need is to test genesis accounts config for testnets and use one in the next testnet genesis. So the accounts in the code will still be used for testing but will not be used in open networks which will use their own genesis config file.

[2020-04-16 10:37] sl-he commented on #1989
I run with the same data folder using existing data

[2020-04-17 13:16] ghost commented on #1903
@avive
https://github.com/spacemeshos/go-spacemesh/blob/develop/api/config/genesis.go#L70
`Address: 0xe77910b4419a4ee0f1d5483d7dd3b5b6b6922ee9 balance: 100000.0000000004 SMH`

[2020-04-17 13:19] lrettig opened #1991 "Add more "good first issue" tags"
Right now, [the list of issues with this tag](https://github.com/spacemeshos/go-spacemesh/labels/good%20first%20issue) is pretty short and most of these tasks are outdated. We have a few folks looking to contribute. Go through the outstanding issues and add this tag as appropriate--we should have no trouble adding 10 or more of these.

CC @noamnelke

[2020-04-18 09:39] avive opened #1992 "Smeshers stuck: can't connect to the p2p network"
## Description
Can't sync.
## Steps To Reproduce
1. Open App.
2. Attempt to sync and wait an hour or so
## Behavior

Node sync won't start and app displays `can't connect to the p2p network` after few minutes of attempting to start to sync. Node error: `could not get layer 8344 from neighbors: no peers`.

## Expected Behavior
Mesh to start syncing and eventually be synced.

## Environment
Please c

[2020-04-18 10:45] sl-he opened #1993 ""could not find executable path in arguments" exception after docker image start"
## Description
I just try to make a docker image from your Dockerfile

## Steps To Reproduce
1. git clone https://github.com/spacemeshos/go-spacemesh.git && cd ~/source/go-spacemesh/ && git checkout tags/v0.1.9 -b v0.1.9
2. docker build . --tag="spacemesh-client:0.1.9"
3. docker run -it --name spacemesh spacemesh-client:0.1.9
4. See error

## Expected Behavior
I expected to see the go-spacemesh ru

[2020-04-18 12:41] y0sher opened #1994 "don't accept tcp connections before starting gossip"
## Description

currently, we don't start accepting new `peers` before bootstrap is complete. though new incoming connections might be added to the pool as the tcp server is listening before that.

## Steps To Reproduce
start a node, make bootstrap process take long time.
connect the node using another node, it accepts the connection.

## Expected Behavior

we were delaying gossip and peers connec

[2020-04-18 12:44] y0sher opened #1995 "bootstrap might take too long"
## Description

when a network is big and has a lot of unique individual peers, we will query our first peers and keep crawling the network to find new peers, if we keep finding new peers, we keep crawling, in a big network this might take really long. we have to think of a termination method that will find sufficient new peers and terminate.

## Steps To Reproduce
create a network with a lot of p

[2020-04-18 12:48] y0sher commented on #1992
What happened? we are waiting for bootstrap to finish before connecting to peers (this is kinda new but necessary security feature). sync and other modules aren't completely aware of the situation in the p2p, they are just aware that there are no peers.

there was actually nothing wrong, everything worked, just took more time.. if you would've waited, bootstrap would've finished (because it was pr

[2020-04-18 12:48] y0sher commented on #1992
I'm closing since now we have an issue describing the actual bug.

[2020-04-18 13:08] avive commented on #1992
I've waited 2 hours

[2020-04-18 13:11] avive commented on #1992
I'm going to try and wait more than 20 minutes.

[2020-04-18 17:35] avive commented on #1992
The proposed solution doesn't work - I can't sync even after leaving the app open for hours.

[2020-04-19 08:05] avive commented on #1992
Mitigation - manually delete your peers.json file and start again to resolve this issue.

[2020-04-20 08:28] lrettig opened #1996 "Sync shutdown panic"
## Description

Looks similar to #1774 but different enough that I'm opening this.

[code]

It happened after the node shutdown due to a time sync issue:

[code]

## Steps To Reproduce

Run smapp 0.0.7 on Windows and let your clock drift :)

## Environment
Please complete the following information:
 - OS: Windows 10
 - App Version: 0.0.7

[2020-04-20 08:40] shibe-dev commented on #873
ill love to work on this!

[2020-04-20 08:49] avive commented on #873
@antonlerner

[2020-04-20 09:20] avive commented on #1992
@y0sher - Desktop smeshers are stuck syncing on layer 1671 for a long time. I tried deleting peers.json and restarting. Win 10 home, node v0.1.9. Verified Internet connectivity on that box.  Logs here: https://drive.google.com/file/d/1fEf6gdl47dDit_ahLL5UO3zd-jQNDnyw/view?usp=sharing

[2020-04-20 11:28] lrettig commented on #1992
I'm having an issue with my Windows node right now too. I'm stuck at block 6341. This is what I see in the logs...

[code]

[2020-04-20 12:25] #1971 closed, assigned to antonlerner

[2020-04-20 15:16] y0sher opened #1997 "Bootstrap takes forever when you know all peers."
## Description

we encountered this in testnet, after multiple discovery crawls we found a lot of peers and saved them in our `peer.json` though next time we go live, it is a prerequisite before we start connecting to neighbors we want to query our peers to find some new peers, we will keep querying and searching until we find at least 8 (configurable) new peers.

the problem is, if we know all th

[2020-04-20 15:17] y0sher commented on #1995
closing this in favor of this #1997

[2020-04-20 15:17] #1995 closed, assigned to nobody

[2020-04-20 20:20] avive opened #1999 "Node crash on sync"
## Description
Node crashed while syncing the mesh.

## Steps To Reproduce
Run the app w/o any prior data (sync from scratch).

## Expected Behavior
Node not to crash and to finish syncing.

## Environment
Please complete the following information:
Windows 10 Home, Node v0.1.9, App 0.0.7 (release candidate)

## Additional Resources
Complete logs: https://drive.google.com/open?id=1VCzT_UqgF2nM2k33T

[2020-04-21 08:12] lrettig commented on #1999
From the end of the logfile Aviv posted:

[code]

[2020-04-21 08:14] lrettig commented on #1999
Same issue as #1996

[2020-04-21 08:14] #1999 closed, assigned to antonlerner

[2020-04-21 08:17] lrettig commented on #1996
Aviv encountered the same issue in #1999 and posted a full log in case it's helpful: https://drive.google.com/open?id=1VCzT_UqgF2nM2k33TmDKF3UDQeSD3XqJ

[2020-04-22 12:30] y0sher opened #2000 "install protoc in local directory."
## Description

currently we try to download and install protoc and its libs in `/usr/local` , this works in MacOS but fails in many variants of linux, in order to make sure it always work we should download the lib into a local directory and use it from there.

## Steps To Reproduce
`make install` in linux
fails to move files to `/usr/local`
## Expected Behavior

success in installing.

## Enviro

[2020-04-22 12:52] lrettig commented on #1678
Related: #2000

[2020-04-22 13:51] lrettig opened #2002 "Data backup system for testnet swag store"
We need a way to back up testnet state, and possibly roll back the state in case of an issue, before we launch the swag shop.

[2020-04-22 15:05] avive commented on #2002
My thoughts on this task that the backup agent can be just client of the new api and that rolling back state is a bit over ambitious and we shouldn't try to have it now. So, in case of open testnet death event, we have all of the account balances at the time of death in an external db, and we can use it for at least rewards entitlements but users won't be able to purchase things with the store onc

[2020-04-25 18:08] lrettig opened #2003 "Handle SIGTERM gracefully"
I noticed that sending a SIGTERM (using the `kill` command) causes the node to immediately exit, without even printing any message to the log. Can we trap this and handle it the same way we handle a SIGINT (ctrl-c)?

[2020-04-26 10:48] noamnelke commented on #1923
Re-opening for now, we can close this if/when #1952 solves this issue.

See https://github.com/spacemeshos/go-spacemesh/pull/1952#discussion_r409072489

[2020-04-26 17:27] noamnelke opened #2004 "Move genesis account configuration to config file"
## Background
As highlighted in #1903, the default node configuration creates pre-loaded tap accounts for testing (whose private keys must be in the code). In an open testnet we don't want these accounts to exist.

It's currently possible to configure the pre-loaded accounts via the `GenesisConfPath` in the configuration, which should point to a file containing this configuration. This makes it te

[2020-04-26 17:30] noamnelke commented on #1903
@c29r3 Thanks for reporting this issue.

In the next testnet we're going to hardcode different tap accounts (and keep the private keys, well... private) until we get to implementing #2004.

[2020-04-26 17:30] #1903 closed, assigned to noamnelke

[2020-04-27 01:17] ghost opened #2005 "Node crashes if cannot sync NTP (post-init)"
## Description
Errors that I could find in the logs below

## Environment
Please complete the following information:
 - OS: Ubuntu 18.04

 - Node Version: 0.1.9+4812339036139219b1aeeb6101e7866924e2d974

## Additional Resources

Logs:
[code]

[2020-04-27 06:02] noamnelke commented on #2005
@c29r3 thanks for reporting! Was this during node startup or after it was already synced, out of the blue? Was the internet connected normally?

@y0sher do you have additional questions here? I assume there's nothing we can do if this failed on startup, other than maybe add more retries? I'm usually against infinite retries, but maybe it's a good idea here after all? We'd have to make sure the app

[2020-04-27 06:55] ghost commented on #2005
@noamnelke

no, it's works properly about one day and then crashed

A few more nodes were launched on this vps, everything is fine with them. There was no significant load on the server itself

[2020-04-27 07:20] noamnelke commented on #2005
@y0sher since this isn't during node startup, maybe we shouldn't crash if we can't reach NTP?

I wonder why this happened at all 🤔

[2020-04-29 06:50] noamnelke commented on #1986
Hey @salvatore63, thanks for taking an interest in Spacemesh!!

I agree with what you did in this issue and PR, but I will close them for now until we do a more concentrated effort to accompany all of our code todos with matching issues (that should have a specific format).

Please don't let this disparage you from making future contributions! I highly recommend joining our Discord and coordinatin

[2020-04-29 06:50] #1986 closed, assigned to nobody

[2020-04-29 17:25] lrettig opened #2006 "Amounts in transactions sent in CLIWallet don't line up"
## Description

I'm sending testnet transactions from one smesher to another and running into some strange issues.

## Steps To Reproduce
- Fire up a testnet smesher
- Let it collect rewards
- Extract its account to use with CLIWallet (this tool can help: https://github.com/DaveAppleton/smesh2cli)
- Load the account in CLIWallet and send the balance to another account

## Issues

1. The account `B

[2020-04-29 17:26] lrettig commented on #2006
Here's another pair:

[code]

The actual tx amount appears to be 380184741630917 - 380180446663621 = 4294967296 or 4.2B smidge or ~0.004 SMH which lines up with what I see in the app on the receiver - but where did this number come from?

This may be a bug in CLIWallet.

[2020-04-30 13:18] #1678 closed, assigned to nobody

[2020-04-30 13:18] #2000 closed, assigned to nobody

[2020-05-02 19:17] anton-kuklin opened #2007 "TODO: lock local for updates"
Starting working on `TODO: lock local for updates`, part of #32

## Description
Will use separate `RWMutext` for `localAddresses`.

## Affected code

This issue appears in commit hash:
685c99d0d8e224ab38fd9dc955f6d92b3cca9040

Related files:
https://github.com/spacemeshos/go-spacemesh/blob/685c99d0d8e224ab38fd9dc955f6d92b3cca9040/p2p/discovery/addrbook.go#L94

Mutex will be used in:
https://github

[2020-05-03 11:53] lrettig opened #2009 "Unexpected node crash after Hare warnings/errors"
## Description

I see a bunch of Hare-related warnings and errors in the log, then my node suddenly crashed. (Not sure if the two are related.)

## Steps To Reproduce
N/A - launch node via app as usual. It ran fine for about a week, then suddenly and unexpectedly died.

## Expected Behavior
N/A

## Environment
Please complete the following information:
 - OS: Linux
 - Node Version: 0.1.9+481233903

[2020-05-03 16:48] ghost opened #2010 "Сrash - block dfdf6 from layer 2307 has no explicit voting"
## Description

Faucet node crashed. It trying to find peers in a few minutes and then crashes.
## Steps To Reproduce
1. Start node

## Expected Behavior

## Environment
Please complete the following information:
 - OS: Ubuntu 18.04

 - Node Version: 0.1.9+4812339036139219b1aeeb6101e7866924e2d974

![image](https://user-images.githubusercontent.com/52304443/80920070-19feae80-8d76-11ea-93d0-e3f9f014

[2020-05-03 17:45] y0sher commented on #2010
hi, thanks for reporting, your logs indicate that you did have 5 peers connected when it crashed. this looks like a sync error, will look into it. also it seems that the layer we got the panic on was already synced, means it might be related to recovery and persistence, if you could provide previous logs it will be very helpful.

[2020-05-03 18:54] ghost commented on #2010
@y0sher
https://drive.google.com/open?id=12nBkba01QAwcyCuJALvvJxw-Lrr5HT17
From May 01 00:00:37 to May 03 18:27:25

[2020-05-04 15:48] y0sher commented on #2010
ok thanks! that really helped. form the logs I could extract that at some point you had problems with with writing permissions which resulted in errors when trying to add objects to leveldb.
there are a lot of lines like the following one -
[code]
this means we are not handling these errors on the best side and the database got corrupt. we will have to investigate further in order to solve this si

[2020-05-04 16:01] ghost commented on #2010
@y0sher
I don’t understand what there might be a problem with permissions - the node is run as root. Btw, this is second time when i got corrupted DB

[2020-05-04 16:03] y0sher commented on #2010
`open sm_data/mesh/blocks/031012.log: permission denied` this is an error from the operating system, it could be caused by many reasons.
what kind of storage are you using ?

[2020-05-04 16:10] ghost commented on #2010
200 GB SSD. But it is virtual private server, i don't know exact ssd model
[code]

Not sure exactly what could have affected, but delays are pretty significant
![image](https://user-images.githubusercontent.com/52304443/81003699-ef832300-8e53-11ea-81d4-cd98b4c63752.png)

[2020-05-05 14:15] anton-kuklin commented on #32
Hi @y0sher, maybe it will be better to open an issue for each group of TODO's, for example for package/file/etc... Cause, working on each TODO, which may be really atomic and small, will slow me down.

[2020-05-05 15:29] salvatore63 opened #2013 "to do integration testing"
for   block_listener_test.go

[2020-05-06 06:23] noamnelke commented on #2013
Hey @salvatore63,

As I explained in [this comment](https://github.com/spacemeshos/go-spacemesh/issues/1986#issuecomment-621021588), we want to make a concentrated effort to convert code TODOs to issues, but those issues will have a specific format. Creating these issues now isn't very helpful, so I'm closing this for now.

Thanks again for taking an interest, see you on Discord 😉

[2020-05-06 06:23] #2013 closed, assigned to nobody

[2020-05-07 17:35] #2007 closed, assigned to nobody

[2020-05-08 17:28] lrettig opened #2014 "Fatal: failed getting layer from db even though we listened to gossip"
## Description

Node was running for a while, fully synced on the testnet. Unexpectedly got this error and then crashed.

## Environment
Please complete the following information:
 - OS: Linux
 - Node Version: 0.1.9+4812339036139219b1aeeb6101e7866924e2d974
 - App Version (if applicable): 0.0.7

## Additional Resources

[logfile](https://drive.google.com/open?id=1QvPGhzShHGwYU-DeMnIYOATQb4cX3F-X)

[2020-05-09 18:32] anton-kuklin opened #2015 "TODO p2p/discovery/addrboo: load&store peers in `Start()`"
Part of #32

## Description
Will start filling Start func, by moving peers load&store to it.

## Affected code
https://github.com/spacemeshos/go-spacemesh/blob/4c29e5ab43eb5585136720a3d4fd6cd860b21a3d/p2p/discovery/addrbook.go#L500-L507

https://github.com/spacemeshos/go-spacemesh/blob/4c29e5ab43eb5585136720a3d4fd6cd860b21a3d/p2p/discovery/addrbook.go#L685-L697

[2020-05-10 09:24] #2015 closed, assigned to nobody

[2020-05-10 14:22] y0sher opened #2017 "Use `p2p.Peers` in `gossip.Protocol`"
## Description

We implemented the peer event handling code in `gossip.Protocol` before we wrote `p2p.Peers`, so there's much duplication there. we want to reduce that by making `gossip.Protocol` use the `p2p.Peers` struct to get informed about connected peers.

## Affected code
- `p2p.Peers`
- `p2p.gossip.Protocol`

## Notes:
this might require refactoring `p2p.Peers` to a different package (unde

[2020-05-10 14:25] anton-kuklin commented on #2017
Will work on it

[2020-05-12 14:24] lrettig opened #2021 "Add influxdb support"
Uses https://github.com/influxdata/influxdb-client-go/

- [x] Proof of concept
- [x] Add CLI flags (endpoint, org, bucket, token)
- [x] Log schema/strategy
- [x] Write zapcore interface for telemetry
- [x] Test it
- [x] Add this core to a single log instance (main log)
- [x] Test sending log data
- [x] Write SMIP (spacemeshos/SMIPS#10)
- [ ] Look into what other clients do
- [ ] Properly set `node

[2020-05-12 16:05] lrettig commented on #2021
Got a basic proof of concept working end to end, and added basic infrastructure. Next step: try integrating with logs and sending log data. Need to think about whether we want to send all logs, or only a subset of logs, or only certain events. Need to also evaluate a little further whether influxdb and this timeseries approach will fit our needs. CC @ilans

[2020-05-13 18:21] lrettig commented on #2021
See https://v2.docs.influxdata.com/v2.0/reference/key-concepts/data-elements/.

# Log schema/strategy

Basically, log everything. Every entry gets a timestamp (this is required in influx). `_measurement` is `log` for everything (for now -- we may want to collect other types of measurements later, such as events). Tags (which are indexed) are `loglevel` (`DEBUG`, `INFO`, `WARN`, etc.), `protocol` (

[2020-05-13 18:33] lrettig commented on #2021
Another possible concern: packaging and sending all log output could slow things down considerably, even if the actual sending happens asynchronously. I guess we can test this. It may be okay since log telemetry can always be turned off in production.

[2020-05-14 11:51] avive opened #2024 "Error working with accounts from default genesis config"
## Description
Can't use accounts specified in default genesis config.

## Steps To Reproduce
1. Run a node on a network of v0.1.11 full nodes - make sure it is fully synced with a network.
2. Open a CLI wallet that connects to one of the net nodes, configured w the pub and private keys of the 2 tap accounts via its json data file.
3. Set tap1 or tap2 account as current.
4. INFO.

## Actual Behavi

[2020-05-14 11:59] avive commented on #2021
Q: With the current design - are we planning to stream the logs to an end point in real time or to periodically ship a compressed batch of logs?

[2020-05-14 16:06] lrettig commented on #2021
This is all handled under the hood by the influx go library. See https://github.com/influxdata/influxdb-client-go#options. It does use compression, and it's batched.

[2020-05-14 16:12] avive commented on #2021
Cool. Can it be scheduled to send a compressed batch say at 4AM local machine time daily?

[2020-05-14 16:16] lrettig commented on #2021
It should theoretically be possible to modify the underlying go library to
do this, but right now everything happens in memory, and I doubt we'd want
to store that many logs in memory. That would require a pretty big rethink.
I'm actually not 100% sure that influxdb is designed to handle
timeseries data that arrives very "late." Will investigate.

[2020-05-17 13:10] avive commented on #2024
Looks like this was a tn-c2s16-34 specific issue and not due to changes in genesis accounts code in v0.1.11. We should still try to understand how genesis accounts could not be used on it. @AmitShaul @ilans

[2020-05-18 12:08] noamnelke commented on #2024
I don't think this issue can be caused by the network, it's a local issue. The node runs a genesis setup procedure when it sets up a new mesh, i.e. when the node starts up for the first time.

This procedure should update the tap accounts balance and nonce in the new global state.

I don't know why this didn't work this time, but I think that it would take considerable time to investigate and we'r

[2020-05-18 12:08] #2024 closed, assigned to AmitShaul

[2020-05-18 16:44] avive commented on #2006
I see the same thing - when you attempt to send a large amount with CLIWallet - the actual transaction amount is set to 4294967296 smidge. It is not clear if this is a go-spacemesh or a CLIwallet issue without proper investigation.

[2020-05-18 18:11] noamnelke commented on #2006
This is a CLIWallet issue. I've explained on the issue there how we should fix it. Closing this.

https://github.com/spacemeshos/CLIWallet/issues/12#issuecomment-630348517

[2020-05-18 18:11] #2006 closed, assigned to antonlerner

[2020-05-20 19:10] #1997 closed, assigned to nobody

[2020-05-21 20:29] lrettig commented on #1954
Opened #2028 to track the fixes I'm making (it's based on #1955). I fixed the error described above (e0f28310cb87dce75cc662653e4edec9ae41aa02) but I'm getting another error now:

[code]

This is coming from `scripts/win/verify-protoc-gen-go.ps1` and is happening despite the fact that go was installed correctly and the path is configured correctly.

[2020-05-22 14:52] lrettig commented on #1954
Fixed. Running into yet another error:

[code]

[2020-05-22 15:05] lrettig commented on #1954
Fixed this (8273478d2ad2702b917ceff3ab80b437f7870be4).

Running into another error now that doesn't appear to be protobuf-related:

[code]

https://stackoverflow.com/questions/43580131/exec-gcc-executable-file-not-found-in-path-when-trying-go-build suggests installing https://jmeubank.github.io/tdm-gcc/.

[2020-05-23 17:19] yaelmhoffman opened #2029 "Wallet balance stuck for 3 weeks despite rewards coming in"
The user has been running the smesher continuously, and rewards have been coming in, but the wallet balance doesn't change.

Logs:
https://drive.google.com/open?id=1E_tlWjFgG-8TTJ8Fh8STRpD4T-uZqoXd

Screenshots:
![Screenshot 2020-05-21 at 20 29 55](https://user-images.githubusercontent.com/56118594/82736419-5ba9c600-9d32-11ea-90ad-50a903cfd83f.png)
![Screenshot 2020-05-20 at 18 15 16](https://user

[2020-05-23 18:21] avive commented on #2029
Global state fork?

[2020-05-23 18:21] avive commented on #2029
@yaelmhoffman - are there additional reports like this or is the only user who experiences this issue?

[2020-05-23 19:33] lrettig commented on #2029
my smesher also stopped reporting rewards a while ago. and another user is reporting issues now in #bug_reports: https://discordapp.com/channels/623195163510046732/691261757921951756/713813426014650418

[2020-05-24 07:09] #1942 closed, assigned to nobody

[2020-05-24 12:45] y0sher commented on #2029
@lrettig, you report something different, the above issues says you can see rewards coming but balance won't update..

anyway I can see many bad stuff in these logs, it can't validate hare messages and blocks even though he's synced. we need to look more thoroughly to understand exactly what happened.
though I can tell that from the beginning he starts with preloaded peers though none of them answ

[2020-05-24 14:29] lrettig commented on #2029
I'm not sure whether I'm still getting rewards or not - let me know if I should investigate what's happening to my smesher

[2020-05-25 13:21] #1954 closed, assigned to nobody

[2020-05-25 20:41] #2017 closed, assigned to nobody

[2020-05-26 08:11] lrettig commented on #2029
Confirmed that I'm still receiving rewards, and my balance is being updated, but the rewards are not being displayed in the app - which leads me to believe it's a frontend issue

[2020-05-27 23:52] shibe-dev commented on #1888
@avive i'm working on this issue from https://github.com/spacemeshos/smapp/issues/515. i've fixed the "address is invalid" error when creating contacts from the contacts tab (error shown in your screenshot), but i'm unsure what you mean by "In transaction log screen, trying to create contract from an address fails - error box - address is invalid". Can you elaborate what you mean by the "transacti

[2020-05-28 07:32] avive commented on #1888
Yes. Here's the repro case:
1. Expand a transaction in the transaction log.
2. Click on the contract purple icon near the address which is not your wallet address in the transaction.
A purple 'create new contact' area is displayed.
3. Enter a nickname for the new contact and click 'create'

Result: Address is invalid red error popover.
Expected: Contact to be created.

<img width="1392" alt="Scree

[2020-06-03 10:00] avive commented on #2029
Should be addressed in the latest app release - there's still the known duplicated transactions issue. This is likely not reproducible with the latest app release. Can you please ask this guy to install the latest app on the new network and report if he's still seeing this issue?

[2020-06-03 10:05] avive commented on #2004
1. Can we move to support only json config files and not worry about toml specific issues? With spacecraft there's no toml config files anymore only json anyhow.
2. We need to decide if the genesis config which is going to include all the pre-configured svm smart wallets instances to be deployed on genesis, and tap accounts for testnets, is going to part of the single config.json file or a separat

[2020-06-03 13:06] noamnelke commented on #2004
The node doesn't care about the format, so we don't need to do anything in that regard. The only problem right now is that the genesis config is in a separate config file, we just need to move it into the main one.

I don't know. It's currently in a separate file, so we can just keep it that way. We could make it optionally included, but I don't like that direction - we should use the same code pa

[2020-06-03 23:32] #1570 closed, assigned to lrettig

[2020-06-03 23:32] #1923 closed, assigned to nobody

[2020-06-03 23:32] #1973 closed, assigned to lrettig

[2020-06-04 07:32] kulak commented on #873
Sorry for no notice.

[2020-06-08 15:27] #873 closed, assigned to nobody

[2020-06-10 21:17] lrettig commented on #1792
@avive I don't think there's a distinct task here - I think this is encapsulated in the work we're already doing in https://github.com/spacemeshos/product/ and https://github.com/spacemeshos/api/ and https://github.com/orgs/spacemeshos/projects/11, and the go-spacemesh work can be tracked under #1764 - can we close this one?

[2020-06-11 05:52] avive commented on #1792
Yes.

[2020-06-11 05:52] #1792 closed, assigned to lrettig

[2020-06-13 07:41] avive commented on #1691
https://testnet.spacemesh.io/#/local - I think it is up-to-date @moshababo - but the page is currently not linked from anywhere in the guide.

[2020-06-13 07:42] avive commented on #1840
We want to fill-in the blanks - this is a leftover from this project that was supposed to be done.

[2020-06-18 20:35] lrettig commented on #1841
Will handle in #1764 - this has already been factored into the API design

[2020-06-18 20:35] #1841 closed, assigned to lrettig

[2020-06-22 16:49] lrettig opened #2042 "Parameterize two log statements relating to eligibility"
First:

Second:

All of the numerical values here (epoch numbers, block eligibility count, layer number, and miner ID) should be broken out as params with their own log labels.

See similar work done in #1952

Per @AmitShaul and @ilans, these log statements aren't currently being used for testing and are safe to modify

In case it's helpful, these logs can be viewed on Kibana: http://104.197.58.13

[2020-06-23 08:36] lrettig commented on #2042
Here's an example of the kind of change that needs to be made:

https://github.com/spacemeshos/go-spacemesh/pull/1952/files#diff-a8d1aea5cc21c9a6122f8091d2aba940

[2020-06-23 14:03] moshababo commented on #1966
@barakshani wrote:

[2020-06-23 14:07] moshababo commented on #1965
@barakshani wrote:

[2020-06-23 14:09] moshababo commented on #1965
@gavraz wrote:

[2020-06-23 16:09] y0sher opened #2049 "Time sync protocol"
## Description

We want nodes in the network to negotiate their local time clocks. currently we relay on NTP to just let us know that were on time and if we're drifted we gracefully shut down the node.

we want to keep the clock negotiation between our nodes inside the network, receive time from our neighbors and set the median to our clock.. bitcoin uses this approach and we can try something lik

[2020-06-23 19:04] lrettig opened #2050 "go version in travis does not match go version in go.mod"
## Description

Right now travis is running using go 1.11:

https://github.com/spacemeshos/go-spacemesh/blob/5c6a2c644707deee62041013e016be5cd6115455/.travis.yml#L3

Whereas the go version specified in go.mod, and the version that I and probably others are running locally, is 1.13:

https://github.com/spacemeshos/go-spacemesh/blob/5c6a2c644707deee62041013e016be5cd6115455/go.mod#L45

The two versio

[2020-06-24 13:31] avive commented on #1985
I think that we defeintly want to well define this. Here's a possible mini spec:
1. Add network param to the config file which indicates how many layers from the current layer a full node should keep global state data which is not the accounts db.
2. If node is not an archive node, it should discard all of this state when a new layer is created (based on time). If an archive node, don't delete thi

[2020-06-24 15:23] lrettig commented on #1985
The "layers_to_keep" param should definitely be longer than the number of layers used in the lookback calculation for rewards.

[2020-06-24 15:24] lrettig commented on #1985
@avive what about stuff that's not exactly global state data, e.g., event logs? It might be helpful here to create a table with _all_ of the classes of data in question and the retention criteria/plan for each.

[2020-06-25 15:04] #1888 closed, assigned to IlyaVi

[2020-06-30 09:30] avive commented on #2004
So what are the tasks that should be done to resolve this issue? Likely a good first issue for contributors here.

[2020-07-06 21:12] lrettig opened #2063 "NTP sync failing in China"
One of our users running a node in mainland China reports that he keeps losing his connection, and has to restart the app several times per day - although he is able to smesh and is receiving rewards. Here's a snipped from a recent logfile. Could anyone help me figure out what's going on here?

Some stuff I noticed:
- the node is unable to synchronize with several of the NTP servers, but it is abl

[2020-07-07 07:54] y0sher commented on #2063
1. I'm still not sure about this error and why it shows up -
`read tcp 192.168.0.20:57275->35.184.140.134:20000: wsarecv: An existing connection was forcibly closed by the remote host.`
2. I see many bootstrap and that's ok. if we are missing good fresh neighbors we will keep querying our routing table for more. it doesn't mean we won't select and connect peers from our current list (we try maximu

[2020-07-07 15:57] #1924 closed, assigned to nobody

[2020-07-07 19:20] lrettig opened #2064 "Add db indices for ATX"
See e.g.:

https://github.com/spacemeshos/go-spacemesh/blob/bb63ec70d3d9f7ace9a8c08f755af6d7e0fdafac/api/grpcserver/mesh_service.go#L160-L172

This is required by the API. We don't currently have any way to look activations up by layer, or by coinbase. We should add indices for one or both of these.

[2020-07-07 20:01] lrettig commented on #2002
Could be a fun issue for a community contributor to work on, now that the API implementation is coming along. Adding Help Wanted tag.

[2020-07-08 22:25] lrettig commented on #2063
I think this is the offending log line:

[code]

This is going to be an issue for probably everyone in China, and maybe other places besides. @noamnelke mentioned a few times that, instead of killing the node when the time drifts, the node should just track this internally. Maybe that's a better solution here?

Is there a short-term fix we can give this user? Maybe have him create hosts entries fo

[2020-07-09 11:46] lrettig opened #2065 "Log does not need to output to logfile"
These params are ignored by the function. This change was made in #1323, but this still needs to be cleaned up.

https://github.com/spacemeshos/go-spacemesh/blob/61eafeeb2a9e3ec785113cf8284eec8bf8ef6ee9/log/log.go#L127-L129

In fact AFAICT all of the functionality for logging to a file is not used anywhere (except in the log tests).

[2020-07-09 17:03] lrettig opened #2067 "Remove time.Sleep from tests"
## Description
We use `time.Sleep` throughout our tests while e.g. waiting for a goroutine or service to spin up. In general this isn't a great idea because it's fragile, and also because it slows down the tests quite a bit. Most or all of these Sleep statements can probably be replaced with concurrency tools like channels, waitgroups, mutexes, etc.

See one example of such a fix here: 9bc6794f29f

[2020-07-09 21:14] lrettig opened #2068 "Add db index for reward smesher ID"
For the API we need to know which smesher and coinbase received each reward (https://github.com/spacemeshos/api/blob/ff4a9a6b913a23a83cf07a0a7b4b7c16605ce9c0/proto/spacemesh/v1/types.proto#L100-L107). Right now, we can find rewards by account that received the reward but there is no smesher ID or coinbase attached to it:

https://github.com/spacemeshos/go-spacemesh/blob/61eafeeb2a9e3ec785113cf8284

[2020-07-12 00:00] u5surf commented on #2067
@lrettig I would like to try to this issue

problematic case is e.g.
https://github.com/spacemeshos/go-spacemesh/blob/b49a23f5d839f0d2d24b5b4f34f2fd372eeb97e8/cmd/sync/sync_test.go#L24

[2020-07-12 05:26] lrettig commented on #2067
Welcome to give it a shot! Not sure how much experience you have with concurrency in go but it would be great practice. I haven't analyzed this test in depth so I can't explain exactly what's going on here or how I'd fix it, but at a glance, it looks like the syncer should notify a channel every time it processes a layer, and the test should pass after 20 layers have been processed, or fail if the

[2020-07-13 16:22] noamnelke commented on #2063
Looks like you're right, it's Google's NTP server that's blocked (the offending IP address redirects to google.com).

While I stand behind my suggestion to compensate for drift instead of shutting down, and I think it won't be hard to implement, this is not the issue here... The problem isn't that there's drift, -1.09s is well within our 10s bound, it's that we can't verify the time with additiona

[2020-07-13 19:16] lrettig commented on #2063
@noamnelke would you be okay with a stopgap fix that allows a single NTP server for now, and that as a more permanent fix we implement the solution you proposed?

[2020-07-13 21:23] lrettig opened #2069 "Standardize rewards type"
We use the type `big.Int` to store rewards, but everywhere else, including in the log statement at the bottom of this chunk, and in the API code, we use uint64. Can the reward amount ever be negative? If not, can we harmonize this type and move it all to uint64?

https://github.com/spacemeshos/go-spacemesh/blob/b49a23f5d839f0d2d24b5b4f34f2fd372eeb97e8/mesh/mesh.go#L691-L714

[2020-07-14 06:04] AndrewAR2 opened #2070 "api-phase8 build error"
## Description
When trying to build go-spacemesh branch 'api-phase8', the error is thrown:
[code]
## Steps To Reproduce
`go build` or `make build`

[2020-07-14 15:40] lrettig commented on #2070
Good catch, thanks :) Fixed in https://github.com/spacemeshos/go-spacemesh/pull/2061/commits/dad50a3303cb5263c67ab7250c6b77a8c45f4dac. Please try building again!

[2020-07-14 15:40] #2070 closed, assigned to lrettig

[2020-07-14 16:05] AndrewAR2 commented on #2070
Now it works! Thank you!!!

[2020-07-14 16:41] #2050 closed, assigned to nobody

[2020-07-14 16:53] lrettig commented on #2067
Here's another good example: https://github.com/spacemeshos/go-spacemesh/commit/4f35f7b7e899788bfbd945aff3abd507ed4f54c3

[2020-07-16 17:11] lrettig opened #2072 "Implement transaction receipts"
Opening this issue to track the need to implement tx receipts in go-spacemesh, and in the API. I cannot currently implement these in the GlobalStateService since go-spacemesh does not support them yet.

CC @YaronWittenstein

[2020-07-16 17:17] lrettig opened #2073 "Optimize offset handling for API Query endpoints"
## Description

The *Query endpoints in the API accept an optional Offset parameter, which allows them to return paginated results. The naive way to handle this is to recalculate all of the possible data to be returned, then just return it starting from the offset - this is how it's implemented today. Obviously, this is inefficient and we can do better.

One possibility is to cache the original lo

[2020-07-16 17:21] lrettig opened #2074 "Implement app events"
Opening as a placeholder to implement support for smart contract (app) events. This could not be implemented in the API since go-spacemesh does not support this yet:

https://github.com/spacemeshos/go-spacemesh/blob/aa7eb73e121e7746de3468d1a365523dc729e3fb/api/grpcserver/globalstate_service.go#L301-L308

CC @YaronWittenstein

[2020-07-16 17:27] lrettig opened #2075 "Closing API streams"
## Description

Each of the API Stream endpoints uses a `select{}` statement to poll for incoming events to report, and to check if the channels that it's listening to are closed. Right now this is done rather naively: if any of the channels it's listening on are closed, the entire endpoint returns and closes the stream. (The GRPC service can also pass in a ctx.Done, in which case it closes, but I

[2020-07-16 18:18] lrettig opened #2076 "Optimize filtering transactions in TransactionsStateStream"
## Description
The TransactionService currently implements filtering of transactions in the simplest, most naive way possible, leading to this awful triple-nested for loop. Similar to #2073, we need to optimize this, but it might require changing our database indices: we need a way to find txs matching a set of txids in a given layer.

## Affected code
https://github.com/spacemeshos/go-spacemesh/b

[2020-07-16 18:22] lrettig opened #2077 "Remove StateAPI from API"
Requires #2078

This is redundant and only used by the old API; the new API relies entirely on the Mesh API. Remove it once the old API has been removed (#2078).

https://github.com/spacemeshos/go-spacemesh/blob/d4d76b6eaf550f7732a10e208ceb7001d0b34664/api/node.go#L16-L23

[2020-07-16 18:24] lrettig opened #2078 "Remove old GRPC API"
Placeholder issue to track the work of removing the old API entirely once the new one is in production.

[2020-07-18 14:34] lrettig commented on #1639
Not having this is causing some headaches in the API-related tests I'm writing. One of them monitors all logged errors, and without a way to cleanly wait until all services (launched in previous tests) have stopped running, the test keeps getting polluted with errors from previous tests as services shut down asynchronously. I may need to implement this to fix the tests.

It would also help a lot w

[2020-07-20 05:17] AndrewAR2 opened #2079 "api-phase9 build error"
## Description
When trying to build go-spacemesh branch 'api-phase9', the error is thrown:
[code]

## Steps To Reproduce
`go build` or `make build`

[2020-07-20 19:41] lrettig commented on #2079
Sorry about that, this was the result of a merge conflict, resolved in https://github.com/spacemeshos/go-spacemesh/pull/2071/commits/8ea2e0fd5c013ecca730852bd3c9d88147e3850a

Thanks for the heads up :)

[2020-07-20 19:41] #2079 closed, assigned to lrettig

[2020-07-24 21:31] lrettig commented on #1983
This was done in #2056

[2020-07-24 21:31] #1983 closed, assigned to nobody

[2020-07-27 19:28] lrettig opened #2080 "Add commandline flag to start with syncer turned off"
This allows an API usage pattern—used to extract all mesh/state data from a full node—where a client starts a node with one or more GRPC services enabled, opens streams to listen to the API, then manually enables syncing via `NodeService.SyncStart`. By starting the node with sync turned off, then manually enabling it only after subscribing to the relevant streams, the client can be sure they don't

[2020-07-27 20:54] lrettig opened #2081 "Disable certain API services until node is synced"
**Please do not work on this issue until the outstanding questions in https://github.com/spacemeshos/api/issues/100 have been resolved.**

## Description

Right now, all API (GRPC) services can be enabled at any point in time. We don't want certain of these services, the ones that depend on having an up-to-date view of the mesh/global state, to be enabled unless/until the node is fully synced. The

[2020-07-27 20:57] lrettig opened #2082 "LayerID uint64 -> uint32"
See https://github.com/spacemeshos/api/issues/88 for background. With 32 bits and five minute layers we get nearly 41,000 years. Even if the layer time were to speed up to one minute, it would still be enough for ~8100 years.

For the record here is the math:

[code]

[2020-07-28 05:25] AndrewAR2 opened #2084 "go-spacemesh/api-phase9 grpcserver.MeshService.readLayer error"
## Description
Error into grpcserver.MeshService.readLayer:

[code]

[2020-07-28 07:51] noamnelke commented on #1639
Consider using Tomb for managing goroutine lifecycle: https://pkg.go.dev/gopkg.in/tomb.v2?tab=doc

In a nutshell, it provides a `tomb.Go(f func() error)` method which you call instead of the regular `go` keyword. You can then call `tomb.Kill()` followed by `tomb.Wait()` which returns when all goroutines have returned.

[2020-07-28 08:22] lrettig commented on #2084
Thanks. Could you share the command you're using to run the node and the config file? Is it the devnet config file I posted on slack yesterday?

[2020-07-28 08:23] lrettig commented on #2084
Actually a full log file would be very helpful for debugging in case you can share it. Thanks!

[2020-07-28 11:04] AndrewAR2 commented on #2084
./go-spacemesh --grpc node,mesh,globalstate,transaction,smesher --config ./config-dev-net.json -d ./sm_data

Yes!

[2020-07-28 11:09] AndrewAR2 commented on #2084
I'll try it, but here's a fairly short log from start to the error:

[code]

[2020-07-28 16:02] lrettig opened #2085 "Not all status updates are being consumed by API streams"
They're probably being created faster than the service can consume and stream them. We may need to increase the buffer size to accommodate this:

[code]

[2020-07-28 16:05] lrettig opened #2086 "Add custom logger for GRPC API"
## Description
Right now, all of the new API code is using the default logger. We should either have a single logger shared by all the GRPC services, or else one instance per service.

A related change we may want to make here is reducing the default log level for many of the log statements, especially the ones in the reporter, from INFO to DEBUG (especially the "not reporting... since no one is l

[2020-07-28 21:11] lrettig commented on #2084
I looked into this today. I was able to recreate it—it seems to happen every time the node receives new blocks from peers, while someone is listening on LayerQuery. Good catch, thank you for reporting this.

I suspect it's just happening because the layer data is received/streamed before the layer state root is recorded in the database. I need to dig a little bit deeper and determine whether this

[2020-07-28 23:41] lrettig commented on #1639
Good to know. I think we pretty clearly want this, but it will require a pretty significant change to how we run services.

[2020-07-29 06:17] noamnelke commented on #1639
This is a big change, in the sense that each service now needs to receive a context and listen for termination using it instead of the existing mechanisms. Initializing this context and waiting for termination in the shutdown method are trivial. Replacing calls to `go ...` with calls to `tomb.Go()` takes some work but is pretty straightforward.

I think this can be a great task for one of the Go b

[2020-07-29 06:24] noamnelke commented on #1639
If we agree to give this to someone from the community, I'll write detailed instructions in a fresh issue (cross referenced with this one) and close this in favour of that (this one says "consider" and we've now considered it).

[2020-07-29 08:20] lrettig commented on #1639
I hesitate to mark tasks involving concurrency as good first tasks. It's a good second task :)

[2020-07-29 10:54] stuartwk commented on #2065
Is this just a matter of removing the function params then cleaning up the instances where it's called? If so, I can clean this up.

[2020-07-29 17:22] lrettig opened #2088 "panic: block x from layer x has no explicit voting, something went wrong"
## Description
My node is dying every time I try to sync the devnet (network id 2). Oddly enough, I resynced from scratch using a different datadir and the sync ran fine.

The same error was reported in a few other issues, looks like it's still an issue:

- #1671
- #1756
- #1999
- #2010
- #2211
- #2263

## Steps To Reproduce
1. Run go-spacemesh using the devnet config file

## Environment
Please c

[2020-07-29 20:18] lrettig opened #2090 "log.addDynamicLevel does not work as expected"
## Description

`log.addDynamicLevel` (and the functions that rely on it, e.g., `Log.SetLevel`) use the [WrapCore](https://godoc.org/go.uber.org/zap#WrapCore) functionality of the underlying zap library to instantiate a new `coreWithLevel` struct that stores a logger core along with a dynamic level. When a log entry arrives, it runs a custom `Check` method that checks the log entry level against t

[2020-07-30 07:53] noamnelke commented on #1639
I agree with your sentiment, but I think that with detailed instructions and close supervision this task is mostly "wiring". I think it can also be scoped down by applying this to one module at a time.

[2020-07-30 08:04] #2065 closed, assigned to nobody

[2020-07-30 12:12] lrettig commented on #2084
Fixed in #2091 (not sure why merging that didn't close this)

[2020-07-30 12:12] #2084 closed, assigned to lrettig

[2020-07-30 15:14] lrettig commented on #1639
I like the idea of doing it one module at a time. As we discussed in chat, it would be nice to design a clean interface that each "app module" implements: it can probably be as a simple as Initialize, Start, GracefulStop, and ForceStop, something along those lines. There's a lot more we could do to improve how we manage app services, but I think this would be a great starting point and is still st

[2020-07-30 16:03] noamnelke opened #2094 "Manage running goroutines and graceful shutdown"
## Motivation
Graceful shutdown is proving to be a challenge when multiple goroutines are running in the background. This has two parts:
1. Signaling a shutdown and having each service respond by terminating gracefully (this part is working, but each service has its own, slightly different, implementation).
2. being able to know when all services have completed.

This is important in production, w

[2020-07-30 16:05] lrettig opened #2095 "Calculate ATX size from config"
## Description
Right now, when we output ATX info (from the GRPC API, or for debugging), we have to serialize the ATX every time in order to get its size. This is a bit inefficient. @antonlerner suggested it might be possible to calculate this more cheaply from config.

## Affected code
Here's an example:

https://github.com/spacemeshos/go-spacemesh/blob/6b81b96aadecdbf14937949cabb25f8fa4d1bf4e/ap

[2020-07-30 18:13] lrettig commented on #2085
I saw this error from MeshService.LayerStream today too, so it's definitely happening to multiple services - makes sense during initial sync when data is coming in over the channels faster than the API service can consume and stream it

[2020-07-30 18:24] lrettig commented on #2095
This was a false alarm, I misunderstood and misimplemented something. Fixed here: 97aa29fc9f81e84b7666105fff3e0ea8a0a74f72

[2020-07-30 18:24] #2095 closed, assigned to nobody

[2020-08-01 18:37] divan opened #2097 "Go version check script fails on MacOS X"
## Description
The `./scripts/check-go-version.sh` which is run by Makefile, doesn't check Go version properly on MacOS X. In my case I have latest Go (1.14.6) installed, while script throws error saying Go 1.14+ is required.

## Steps To Reproduce
1. find Macbook
2. git clone go-spacemesh develop branch
3. run `make`
4. See error: `Go 1.14+ is required (vgo.version.go1.14.6 darwin/amd64 is instal

[2020-08-02 13:52] noamnelke commented on #1639
I agree with most of what you said, but I disagree about some details. The service interface that makes sense to me is:

[code]

Most services already implement this interface (there are a couple of cases where `Start()` takes arguments from the configuration or returns an error, but these can easily be refactored away). So we could put all services in a slice and then start them all using a loop.

[2020-08-03 11:58] divan commented on #2094
I'd love to work on this task, as it would be a good opportunity to better familiarize with a high-level code and services' organization.

This could be checked/enforced by a simple linter that analyses code and looks for bare go keywords, perhaps? There are clearly will be exemptions, but if the rules are clear, this can be neatly codified.

[2020-08-03 21:07] lrettig commented on #2097
Hi @divan, thanks for opening this issue and the PR. Both BSD sed and GNU sed appear to be working for me in macOS 10.15:

[code]

Perhaps there's something else in your environment that's causing this issue?

[2020-08-03 21:17] lrettig commented on #1639
The reason I suggested separating `Initialize` and `Start` is because of the way the app is currently launched in `cmd/node/node.go`: first, an initialize method is called, then later a start method is called. There is already some distinction between these in the way the app/node is architected:

https://github.com/spacemeshos/go-spacemesh/blob/1c818789facf0e7219feb7d8d5737ce6b6776835/cmd/node/no

[2020-08-03 21:47] divan commented on #2097
Hmm, it turns out it's not a sed issue, but regexp's one. It works correctly only for Go versions that do have patch number.

[code]
So in my case I had currently active installation of Go version 1.14 (without patch numbers), thus the script was failing.

One of the solutions is to modify regexp to parse Go versions without patch number correctly. Another one is to use a proposed solution (https:

[2020-08-03 21:59] lrettig commented on #2097
I think this is my fault. Reverting this change might fix it!

https://github.com/spacemeshos/go-spacemesh/pull/2052/files#diff-4bda0207ee3bbd1b352c7fc15cccc589

[2020-08-04 11:55] hoenirvili opened #2101 "Panic raspberry pi4"
## Description
I tried setting up a spacemesh node on raspberry pi4 and after some time the go process exited with a panic message.

## Steps To Reproduce
1) I added these lines to the makefile.

[code]
2) Then I commented the `import "C"` in **cmd/node/node.go** because if you're trying to compile arm code and you have the gcc "aware" import it does not find a couple of symbols. I don't know why.

[2020-08-06 12:53] lrettig opened #2102 "Some more minor log cleanup"
## Description
There are a couple of log statements that still need to be cleaned up, see below

## Affected code
p2p, sync?

This issue appears in commit hash: a1f005549ddf99ceaf24724d93a306930db1460d, 38903f680e0a9597930c3d3071ec8174763176ae

[code]

(Note that these log messages do not occur next to one another, I'm just putting them all together here.)

[2020-08-06 13:10] lrettig commented on #1181
This is still happening with the latest code changes. I'm getting this when running locally and trying to sync the devnet, after creating a new node identity and rerunning. The error is persistent and keeps appearing, and sync is very slow (as in #1743):

```2020-08-06T09:02:49.054-0400    ERROR   32678.sync              sending message failed  {"node_id": "326786413a66aa696ce5e84b7a29cfedb3b85acb

[2020-08-06 13:18] lrettig commented on #1181
Here's a more complete debug log: https://gist.github.com/lrettig/70f7df4ba4424357e76cb4f4a989c1eb. Note that it's also getting a lot of `old_gossip_message` messages.

[2020-08-06 15:41] lrettig opened #2103 "API: don't allow submission of new transactions until node is synced"
## Description
Right now, the TransactionService GRPC server accepts new transactions via `SubmitTransaction`, even while the node is syncing/not participating in gossip, without an error. However, incoming tx data is transmitted as a gossip message, which means that it's dropped silently if the node is still syncing. This should be an error in the GRPC service.

Note that this is also an issue in

[2020-08-06 16:02] avive commented on #2103
@noamnelke

[2020-08-06 18:17] lrettig opened #2104 "API account counter issue"
## Description
Calling `GlobalStateService.Account` returns the actual account counter (nonce) (along with balance) from global state. However, this is _not_ the counter value that should be included in a newly-submitted tx. For a new tx, the system expects the counter to match the _projected_ counter value returned by `TransactionProcessor.GetProjection`, which factors in pending transactions:

h

[2020-08-06 18:30] lrettig opened #2105 "Update tx generator script to work with devnet"
We want to use this to generate a bunch of tx data in the devnet that will flow through to the dashboard and explorer. This script was written to run inside a kubernetes environment, and it needs some modification to run outside this environment and to talk to a specific node on a specific port. It also needs updating to work with the new GRPC API.

#2185 should be done first

[2020-08-07 17:00] divan commented on #2097
To me the less moving parts in the script the better, but whatever you prefer.

[2020-08-09 08:03] noamnelke commented on #2104
The old api had `GetNonce` and `GetBalace` endpoints which returned projected values.

I agree that it can be confusing to get an account info without the projected values. I think that from an api-consumer perspective it's best to get those values as part of the existing account endpoints, in addition to the "final" data from the state. Any reason not to do it that way?

[2020-08-10 06:56] #1901 closed, assigned to nobody

[2020-08-10 11:22] antonlerner opened #2108 "Create basic fetch mechanism"
## Description
Create a basic fetch mechanism capable of sending  a hash and receiving a response in a form of a byte buffer.
The received buffer can be validated with a special callback function

The fetch mechanism needs to have a cache of requests, so that multiple requests for same data will not be performed

Fetch mechanism must include meta data to hint the other peer where to fetch data fro

[2020-08-10 11:30] hoenirvili commented on #2108
This should be a stand-alone package inside go-spacemesh or this should be integrated further into an api?

[2020-08-10 12:20] antonlerner opened #2109 "Layer fetching algorithm"
## Description
to fetch a layer from peers first a layer hash must be received, the layer hash will be received when sending a peer a layer ID
After sending an ID to a peer he will respond with 2 layer hashes
1. The hash of blocks that exist in the layer
2. The hash of input vector for that layer

After the hashes are received a hash request for blocks will be made, sending the hash as request wil

[2020-08-10 12:39] antonlerner opened #2110 "Block fetching"
## Description
Fetching a block would require sending its hash (ID) to a peer.
Since a singly layer sync response will have multiple block IDs, different blocks can be requested from different peers, if a block id is not received from a peer it can be requested from another peer
This however, should not happen since we would like to ask block IDs from peers who have responded with same ID as a res

[2020-08-10 12:50] antonlerner opened #2111 "ATX fetching"
## Description
Fetching ATX will be done using fetch queue
1. after fetching ATX nipst and poet proof needs to be fetched
2. fetching of an ATX needs to be done once per layer - since many blocks would probably reference same ATX at the same time
3. Validating an ATX should trigger block validation of the block that referenced it
4. Fetching of atxs must be done for the last epoch of the current l

[2020-08-10 14:08] avive commented on #2103
When node is not synced, submitting a new tx should drop it and return an error.

[2020-08-10 14:31] antonlerner opened #2112 "Send blocks received in last 30 seconds that are relevant to current sync process"
## Description
When a node syncs with a peer node, it needs to receive blocks that are relevant for the layer it want to sync
However, blocks can be received in gossip that belong in a currently synced layer. syncer must return all blocks for the requested layer alongside all blocks that were received in the last 30 seconds

this can be optimised not to send block ids of blocks from current layer

[2020-08-10 16:50] lrettig commented on #2104
I agree. I'll update the API to add projected as well as current state values.

[2020-08-10 17:11] lrettig commented on #2094
Hi @divan, sounds good. Feel free to give this a shot. It would probably be best to propose a plan before beginning implementation work - I'm happy to review it. We'll try to fill in some more details in this issue as well.

[2020-08-10 21:19] lrettig opened #2113 "Increase network ID range"
## Description
Right now the `network-id` in the config cannot be larger than 128 since it's stored in `int8`.

We should have a larger range to make it easier to segment into different types of networks, e.g., testnet is `1xx`, devnet `2xx`, local networks `1xxx`, etc.

Also I'm not sure why this is an int rather than uint, since I don't think we ever want it to be negative.

CC @avive @noamnelke

[2020-08-11 07:51] noamnelke commented on #2113
I don't see a problem with increasing the size of this field.

**You can skip this section all the way to the separator, kept it here for sharing my thought process.**

Trying to think where it needs to be included:
- **P2P handshake** - a few extra bytes won't kill us.
- **The Genesis ATX** - every other ATX references it via the chain of positioning ATXs and every block references it via its ATX

[2020-08-11 08:01] avive commented on #2113
I thought we also talked about adding the network ID to the proof of space data to make sure that post data can't be reused across networks. This is a pretty important consideration. I recall @tal-m asking for this in one of the research-dev call.

[2020-08-11 08:11] noamnelke commented on #2113
This is true, but again - it's implicit, you just add it to each label message before signing it, but no need to store it anywhere. If a node on a different net ID will try to validate it - it will just fail.

[2020-08-11 16:10] lrettig commented on #2113
To put things into perspective, here are a couple of (partial) lists of Ethereum networks with their network/chain IDs:

- https://chainid.network/
- https://github.com/ethereum-navigator/atlas

[2020-08-11 17:33] lrettig opened #2115 "Devnet hare failures"
We fired up two devnets using spacecraft over the last 2-3 weeks and both experienced consensus failures. It happened to the first one (devnet1 a.k.a. the `lane` network in spacecraft) after ~5000 layers, but it happened to the second one (`devnet3`) after only 18 layers.

It seems to be down to a hare failure. I see this error for every layer:

[code]

Full logs and config files for both networks

[2020-08-11 17:43] noamnelke commented on #2115
This sounds like there were no blocks - have you verified that blocks were published in the previous layer?

[2020-08-11 19:14] lrettig opened #2116 "API: Make sure new ATXs are being properly reported after block builder refactoring"
Need to account for changes in efa7538ba4fbb4ea90be43c827233a580c736e19 / #2011:

https://github.com/spacemeshos/go-spacemesh/blob/efa7538ba4fbb4ea90be43c827233a580c736e19/activation/atxdb.go#L763

[2020-08-11 19:28] lrettig opened #2117 "Fix missing newTx test function"
There are several lingering references to this function, here is one of them:

https://github.com/spacemeshos/go-spacemesh/blob/efa7538ba4fbb4ea90be43c827233a580c736e19/state/tx_pool_test.go#L33

It was removed in #2011 / efa7538ba4fbb4ea90be43c827233a580c736e19 and based on the diff it looks like it was supposed to be replaced by `mesh.NewSignedTx`.

CC @antonlerner

[2020-08-11 19:56] lrettig commented on #2116
Fixed by 5108f756beee971f1bf31d51e38949c74bc070a2

[2020-08-12 17:31] lrettig commented on #1701
Note that this will become obviated by #2078 - will leave this open until that's dealt with and all the protobuf tooling has been removed from go-spacemesh (hopefully soon).

[2020-08-12 19:23] lrettig commented on #2115
@noamnelke, @ilans and I are investigating. It appears that blocks are being produced, but that after a certain layer, they're not being gossiped and pbase is not advancing. Some basic log statements like "got new block" seem to be completely missing from the logs.

[2020-08-12 21:01] lrettig opened #2118 "API: create Constructor wrappers for protobuf types"
## Description
The protobuf types derived from the API get nested pretty deep and filling them out can be pretty ugly, see for instance:

https://github.com/spacemeshos/go-spacemesh/blob/dc5e05ece84fdb093e34d522e854573a8d4a6b67/api/grpcserver/globalstate_service.go#L370-L377

It would be cleaner to wrap these in straightforward constructors that take the required data (e.g., in this case, account

[2020-08-13 07:13] noamnelke commented on #2115
I don't think it's specific messages - there are no logs at all coming from `BlockListener` - that makes me think it's a log misconfiguration.

[2020-08-13 15:48] lrettig commented on #2115
![image](https://user-images.githubusercontent.com/3316532/90156803-e959e800-dd5a-11ea-97ca-e323814effc5.png)

[2020-08-13 15:50] lrettig commented on #2115
![image](https://user-images.githubusercontent.com/3316532/90156986-2920cf80-dd5b-11ea-936f-5dbb5401c63a.png)

[2020-08-13 16:41] lrettig commented on #2115
@noamnelke, @ilans and I spent a while investigating this issue today. As you can see from the above screengrab, something appears to be going wrong with hare. It works for the first few layers, but then terminates late for layer 4, and never terminates for layers 8 or 12. At this point the VM CPU spikes to 100%, the nodes stop producing blocks, and things break down.

We're still not sure of the

[2020-08-13 21:16] lrettig commented on #2115
Here's some more analysis. First, debug info:

- commit hash 00913c859c665bc2eb09b129135c5366e62c1d52, branch https://github.com/spacemeshos/go-spacemesh/tree/api-phase9-orig (this is before #2011 was merged)
- docker image: `spacemeshos/go-spacemesh#api-phase9-orig` (https://hub.docker.com/layers/spacemeshos/go-spacemesh/api-phase9-orig/images/sha256-2a85d12a4262ae147fd2283948d0dec85112a237568879

[2020-08-17 11:21] noamnelke commented on #2115
- This is not accurate. Remember that the CPU graph is a per-minute average. It starts jumping around at ~11:12, which means that it’s possible that while some goroutines have the focus it’s at 100% and they have the focus 60% of the time. By 11:35 they have the focus all the time and the average CPU usage is ~100%.
- Remember that you’re not looking at the CPU usage of a representative node, but

[2020-08-17 22:06] lrettig commented on #2115
@noamnelke and I discussed this morning, and we decided to try launching another devnet with more resources per miner. I reduced the number of miners per VM by half, to 25.

This time, I see hare errors from the very first layer:
![image](https://user-images.githubusercontent.com/3316532/90448819-2c49f180-e0b4-11ea-96f1-5c75c098904a.png)

While the CPU usage never spiked to 100% this time, I see a

[2020-08-18 12:27] lrettig commented on #2115
This one (devnet6), as well as another one that I fired up with even fewer miners per VM (15) (devnet8), both met the same fate: Hare began running into issues as early as layer one or two, then Hare starts to fail completely a few hours after the devnet comes online. @noamnelke will help investigate.

[2020-08-19 09:52] avive commented on #2115
My 2 cents - not sure if you guys tried it: setup a spacecraft network with the exact same configuration as TweedeleDee but with nodes from the api branch and see if there's a hare failure. If there's a failure then it is a node bug due to changes between the release and the api branch. If not, then it is highly likely that the failure is due the different hare config params or a runtime resource

[2020-08-19 13:06] lrettig commented on #2115
From @y0sher yesterday on slack:

I used lane's api-phase9-orig docker tag and spacecraft's default params. as of now the network is running great and there are no hare issues, we're in layer 15 and counting.

[2020-08-19 20:30] lrettig commented on #2115
Another quick update. @ilans launched a new network today with twice the CPU (e2-custom with 16 vCPUs, 32 GB memory), still with all 50 miners running on one VM. Right now it's at layer 58 and consensus appears to be working. There was one small blip at layers 49-50 where it had to rerun hare but it seems to have recovered. We should let this network continue to run as long as it's still working.

[2020-08-19 22:32] lrettig opened #2121 "Add devtools folder to .dockerignore"
Rather than deleting it in docker build

This means we need to re-install after every docker build... better to add this folder to `.dockerignore`

_Originally posted by @noamnelke in https://github.com/spacemeshos/go-spacemesh/pull/2052_

[2020-08-20 18:02] lrettig opened #2122 "Errors attempting to sync with different protocol version"
## Description
If I connect to a running network and try to sync a node that's running a different build than the one the network is running, I get very strange, cryptic errors - e.g., deserialization errors trying to read the block data provided by peers.

Expected behavior is that the initial sync/p2p handshake would fail and there would be a clear error message about the mismatch in protocol ve

[2020-08-20 18:13] lrettig commented on #2115
Around 450 layers and everything still looks good. I was able to fully sync a new node from scratch just now, and the sync completed quickly. Here are some factors that may have contributed to the issues we ran into above - we'd need more experimentation to rule some of them out:

- disabling DEBUG output (it was on for several protocols, including mesh and hare)
- disabling metricbeat
- not tryin

[2020-08-20 18:54] lrettig commented on #2115
For the record I'm seeing a number of `WARN` and `ERROR` messages syncing a new node against this devnet. While things seem to be working okay, I'm recording this here in case we run into these errors again:

[code]

Full logs in https://drive.google.com/file/d/16sBPSfMGzFLLIK5ir4QW2U8L8o7N3oUC/view?usp=sharing

Managed devnet miners show some warnings but no errors:

![image](https://user-images.

[2020-08-24 07:34] #2121 closed, assigned to nobody

[2020-08-25 20:23] lrettig opened #2126 "System test failure: AssertionError: account ... did not have the matching balance"
## Description
This error is appearing repeatedly and unexpectedly from the system tests in several branches which have not touched related code. Here are two such examples:

- https://travis-ci.org/github/spacemeshos/go-spacemesh/jobs/721093889 (#2119)
- https://travis-ci.org/github/spacemeshos/go-spacemesh/jobs/720979797 (#2124)

CC @noamnelke

## Steps To Reproduce
Run `bors build` on one of th

[2020-08-25 20:50] lrettig commented on #2126
My guess is that this error is caused by the fact that a bunch of transactions are generated from the genesis account, and broadcast to random nodes in rapid sequence. The transactions are probably arriving at the nodes before the prior tx has been gossipped, so the sender nonce check (projection) is failing.

This is related to #2104. My attempted fix is to pause briefly in between submitting eac

[2020-08-26 16:48] #2126 closed, assigned to nobody

[2020-08-26 18:26] lrettig commented on #2115
@ilans launched a couple more devnets and ran some further tests. We seem to have ruled out the following as causes:

- disabling DEBUG output
- disabling metricbeat

I suspect it was the altered hare config params. I'll leave this issue open until we can document this somewhere.

[2020-08-26 19:05] lrettig commented on #1982
See https://github.com/uber-go/zap/blob/master/FAQ.md#does-zap-support-log-rotation

[2020-08-27 15:43] lrettig commented on #284
I don't think this is an issue, this can be enabled on a per-test basis or when debugging as necessary. having debug on for all tests all of the time would be extraordinarily verbose.

[2020-08-27 15:43] #284 closed, assigned to nobody

[2020-08-27 15:44] lrettig commented on #2094
Related: #514

[2020-08-27 15:45] lrettig commented on #1639
Related: #514

[2020-08-27 15:45] lrettig commented on #801
Ping @ilans does anything need to be done here?

[2020-08-27 15:52] lrettig opened #2130 "Retire custom Log struct"
## Description

We have a custom Log struct defined in `log/zap.go`:

https://github.com/spacemeshos/go-spacemesh/blob/964bddb7134d6d643fdbff3142eafaa4519e16b6/log/zap.go#L15-20

#2092 removes the level attribute and removes the functionality to change the log level of an instantiated logger, which a.) wasn't used, b.) isn't necessary, and c.) is bad juju because it does things the logger wasn't i

[2020-08-29 21:23] avive opened #2132 "Node panics on restricted network"
## Description
Node panics during initial sync.

## Steps To Reproduce
Start node on restricted network (@avive please provide more details on what the restrictions are, if possible).

## Expected Behavior
Node should finish syncing and stay up to date.

## Environment
Please complete the following information:
 - OS: OS X, iMac.
 - Node Version:  0.1.13

## Additional Resources
[logs.zip](https:/

[2020-08-30 12:40] avive commented on #2132
Turns out an office Internet connection was the issue and once user switched to a different network everything works fine.

[2020-09-01 17:22] lrettig commented on #2088
Someone is [reporting](https://discordapp.com/channels/623195163510046732/691261757921951756/750167583818383430) that this is happening on the new testnet (117). Log attached. Interestingly enough it looks like #1181 may be a factor in this case.

[spacemesh_bug.txt](https://github.com/spacemeshos/go-spacemesh/files/5157847/spacemesh_bug.txt)

[2020-09-01 17:25] lrettig commented on #1181
This is happening again in the current testnet (117): https://github.com/spacemeshos/go-spacemesh/issues/2088#issuecomment-685014155

[2020-09-01 17:51] lrettig commented on #2132
It would still be good to know what's going on here. Took a look at the logs, the node seems to be connecting and syncing properly but there are a few errors that keep appearing:

[code]

Also @avive regarding the behavior of the smapp, don't you think that the Spacemesh logo spinning forever is an issue? Why would that happen, if the node is connected and syncing? What explains this, from the app

[2020-09-01 18:16] avive commented on #2132
It is going to be very hard to reproduce this. @y0sher looked at the node logs and claim he sees nothing bad there.

[2020-09-01 18:18] avive commented on #2132
The node panic looks like an exception in cleanup. Might be worth ensuring that an error on closing the jsonhttpserver doesn't panic the node... @y0sher .

[2020-09-01 19:46] lrettig commented on #2132
@avive my main question here is about smapp, not go-spacemesh:

[2020-09-01 20:06] avive commented on #2132
It is fairly rudimentary - the logo currently keeps spinning until it can connect to the local node. This is about to change soon due to the new startup experience flows and the new features. Current code doesn't handle well the case that smapp can never connect to the node. In the updated startup flow (See https://product.spacemesh.io/#/smapp_wallets_flows), the node is started only in some cases

[2020-09-03 13:35] avive commented on #1798
won't this issue be fixed by the needed 0.2 tx processing code and new rewards scheme?

[2020-09-03 13:37] avive commented on #1560
@antonlerner - is this still a valid issue considering the kibana dashboard we have?

[2020-09-03 20:38] lrettig opened #2133 "Upgrade to latest API version"
The API protobuf in https://github.com/spacemeshos/api has gotten somewhat ahead of what's implemented here. Pull in the latest version of the API go module and update the implementation as necessary.

[2020-09-03 20:39] lrettig commented on #2105
This is blocking on #2133.

[2020-09-03 20:39] lrettig commented on #2133
This is blocking on #2071

[2020-09-04 14:58] jack17529 opened #2135 "Install Python dependencies with Makefile"
## Description

Utilise `requirements.txt` file present here - https://github.com/spacemeshos/go-spacemesh/blob/develop/tests/requirements.txt to install python dependencies with `Makefile`.

## Affected code

The Python code.

[2020-09-06 01:17] lrettig commented on #2135
Makefile should be installing these dependencies before running the python-based system tests, is this not currently the case?

[2020-09-07 15:43] #2090 closed, assigned to nobody

[2020-09-08 07:47] noamnelke commented on #2132
@avive this kind of issue description is more suitable to the SMApp repo. The issue is that the SMApp fails to display a proper error message to the user. When the node panics, the SMApp must display the panic message to the user and direct them to report the issue along with a shortcut to the logs folder on their machine.

The issue in this repo should not include any details on the UI (e.g. spin

[2020-09-08 07:51] noamnelke commented on #2132
I've edited the description and title of this issue to make it more suitable for this repository.

[2020-09-08 08:02] avive commented on #2132
This is clearly a go-sm node issue - you can see the flags that smapp uses to start it in lane's comment. There is no other magic. I assume it will panic in a similar way if started via terminal on a restricted network. Smapp handling of node error should be a a separate issue and I will open one to handle node crashes but this issue is about the node panic on restricted network. Cool?

[2020-09-08 12:37] noamnelke commented on #2132
The problem was with the previous title and description. I'm not saying there's no issue at all. See how I phrased it in comparison to how it was before.

[2020-09-09 12:38] noamnelke commented on #1798
I hope it will, this is why nobody's fixing it for now.

[2020-09-09 19:06] lrettig commented on #2132
Opened https://github.com/spacemeshos/smapp/issues/575 to track the frontend issue - @noamnelke thanks for sorting out the metadata on this side!

[2020-09-10 09:56] lrettig opened #2137 "Expose full API error messages to caller"
See my thread with @antonlerner at https://github.com/spacemeshos/go-spacemesh/pull/2071#pullrequestreview-451123758:

I feel that we should expose only a short, nonspecific error message via the API, and print the full error to the logs (this is how the API is currently implemented). Anton feels that we should expose the full error to the caller, especially for now since we're the only customers

[2020-09-10 10:07] lrettig opened #2138 "Double-check layer status logic in API"
Double check the logic here:

https://github.com/spacemeshos/go-spacemesh/blob/1eff55343600587b19100de124b7bf29f413c445/api/grpcserver/mesh_service.go#L360-L378

Make sure it faithfully implements the logic described in https://github.com/spacemeshos/api/issues/89. @antonlerner suggested in https://github.com/spacemeshos/go-spacemesh/pull/2071#pullrequestreview-451123922 that:

[2020-09-10 10:12] avive commented on #2137
It depends on which api service. Some api services main clients are wallets (is that what you mean by 'we' above?). The error from api services for wallets should be descriptive enough to inform users about what went wrong and the severity. I assume we want to report only critical errors via the api that requires the user to take action. For example, if there's a panic in a node's module and the n

[2020-09-10 10:53] avive commented on #2137
So to clarify more, I believe that the Node Service should only report errors to the API which are critical in the sense that the node stopped working properly. e.g. a panic in the p2p module so wallet users can choose to restart (or go check if they have a new node with bug fixes they need to install by updating the app).

2nd client are backup agents and explore / dash backends - they also need

[2020-09-10 11:07] #2116 closed, assigned to lrettig

[2020-09-10 14:15] lrettig commented on #2137
Sorry for not being clearer in my description. I think we're talking about two different things here. The [ErrorStream](https://github.com/spacemeshos/api/blob/master/proto/spacemesh/v1/node.proto#L33) endpoint in the NodeService streams all errors and panics as they occur ([implementation here](https://github.com/spacemeshos/go-spacemesh/blob/ce9d5da1a17aee64458de361cbe4f85a03d1b49f/cmd/node/node

[2020-09-10 15:50] lrettig commented on #2133
Note that this will also need to undo these wrappings from #2134, since the latest API code contains the right data type for layer/epoch: https://github.com/spacemeshos/go-spacemesh/pull/2134/files#diff-42818399d3f9a46d2b92ca537481a057

[2020-09-10 19:55] lrettig opened #2140 "Short tests mode"
## Description
We need a short version of our full unit test suite that doesn't take too long to run, and that passes on all supported operating systems (linux, macos, windows, freebsd) without needing a special ulimit env. This will also be useful for running against the other operating systems in CI. As part of this task, once #2060 is merged, we should try enabling short unit tests for macOS an

[2020-09-10 19:57] lrettig commented on #114
This is a good point. In our case however, we have many users (home smeshers/wallet users) who will be running the node software natively on Windows PCs, so I'm not sure that would be sufficient.

[2020-09-13 22:47] lrettig commented on #2063
I'm looking at this again since it keeps getting reported - we have more smeshers in China and it keeps causing headaches for people there. Roughly in order from easy to hard/robust I see the following options to address this:

1. Lower the `MinResultsThreshold` for NTP server results from 3 to 1, for now:

https://github.com/spacemeshos/go-spacemesh/blob/ce9d5da1a17aee64458de361cbe4f85a03d1b49f/t

[2020-09-14 07:17] noamnelke commented on #2063
I agree with the ordering, but... I think that doing 2 is almost as easy as 1 and has no tradeoff. I think skipping 1 and going straight to 2 is better. If we leave the threshold at 3, we need at least 4-5 servers that work in China.

Googling for a list of servers + adding them to the code = a couple of hours maybe
Creating a build of the testnet tag with the change cherry-picked on top + asking

[2020-09-14 13:28] noamnelke commented on #2140
Running the following:
[code]

Completes successfully on my mac in 5m 28s. Can you try to prepend the `ulimit -n 9999; ` and see if it makes a difference?

In my IDE, when I run this without the `-p 1` it also succeeds and completes in about a minute and a half, but for some reason I just found out that it fails in the terminal, maybe worth investigating at some point.

[2020-09-14 16:32] lrettig commented on #2140
The last two times I used `ulimit -n 9999` and ran our tests, my entire
system froze, then suddenly rebooted, so I'm hesitant to try this again.
I'll do so later when I'm not running anything important. Or maybe we could
use one of the macOS test machines that @avive fired up, if we still have
access to them.

On Mon, 14 Sep 2020 at 09:28, Noam Nelke <notifications@github.com> wrote:

[2020-09-16 11:09] y0sher commented on #2122
#87 is open for long time. we haven't done anything major in this since we haven't released a backward compatible version yet. currently we only exchange the ClientVersion and disconnect when it's different. but this has to be updated manually with every version to actually affect something.

[2020-09-16 11:58] y0sher commented on #1861
[code]

[2020-09-16 16:00] lrettig commented on #2122
Thanks, I'll close in favor of #87 and we can take the conversation there.

[2020-09-16 16:00] #2122 closed, assigned to nobody

[2020-09-16 16:04] lrettig commented on #87
One additional thought from #2122 (a duplicate issue):

As @y0sher [pointed out](https://github.com/spacemeshos/go-spacemesh/issues/2122#issuecomment-693336462), we do currently need to manually update ClientVersion and we haven't yet tried to release a backwards compatible version (although in practice multiple releases/builds are sometimes backwards compatible).

It's also interesting to conside

[2020-09-17 10:33] #2097 closed, assigned to nobody

[2020-09-19 07:43] avive opened #2145 "Can't get balance or nonce for genesis accounts on Testnet"
## Description
API methods nonce and balance return account doesn't exist for genesis accounts. Due to this issue, we can't fund the community tap or test transactions on the network before a smesher gets a reward.

## Rerpo
1. Sync a full node on open testnet net-id 118.
2. From the terminal (or via any api client such as CLIWallet) try to get balance or nonce of one of the genesis accounts via t

[2020-09-22 22:56] lrettig commented on #2145
I'm testing this while syncing a node. It seems like the error happens while the node is syncing - but at some point it goes away, as my fully-synced nodes work fine.

[code]

[2020-09-23 15:11] lrettig opened #2147 "Document how to run multiple smeshers"
We've had a few community questions on this. We should document best practices for doing this - how to run multiple nodes on one machine, resource requirements when doing this, how to set the ports correctly, logging, using VMs, how to use the same coinbase and see the rewards accrue in the app, any other networking considerations, etc. We should explain that this won't be terribly helpful longer

[2020-09-23 15:24] avive commented on #2147
The best path for this as far as wallets are concerned is to use CLIWallet (api client) with  the `server` param to connect to the json-http api 0.1 of any node on same machine or over the network (host:port). It defaults to localhost:9090 - which is the default json-http api interface for a local running node. All of this should be of course better documented. I can add a page to the testnet guid

[2020-09-23 15:28] avive commented on #2147
There's also Anton's video about how to join the testnet with a go-sm node without smapp: https://www.youtube.com/watch?v=mqbSeCTYRaY

[2020-09-23 15:51] lrettig commented on #2145
I don't know what's causing this or when the error goes away - it does NOT appear to be when the node has synced past the first or second epoch, nor when it's fully synced - but eventually the error does go away. However, I'm inclined to ignore it since the new API seems to work fine immediately after the node first boots up:

[code]

[2020-09-23 15:52] lrettig commented on #2145
@avive I'm in the process of removing the old API anyway in #2131, can we just switch to the new API instead of trying to fix this?

[2020-09-23 15:56] avive commented on #2145
I don't know - it depends if there are any tests / devops services that depend on it - I think Spacecraft 3.0 relies on api 1.0 to work properly and possibly some api tests. @noamnelke - btw, I've tried this many times and again just now - on a synced net id node 118 /v1/balance and /v1/nonce  for built-in test genesis account 0x1 return account doesn't exist.

[2020-09-23 17:47] lrettig opened #2148 "Panic when running in directory without permissions to parent directory: panic: cannot create block builder DB mkdir ../tmp: permission denied"
## Description
When running go-spacemesh in a directory (cwd) where the current user does not have write permission in the parent directory (e.g., running in one's home directory), the app panics.

## Steps To Reproduce
1. Navigate to a directory where you don't have write permission to the parent directory (i.e., `touch ../foo` fails)
1. Run go-spacemesh (no args needed)

## Environment
Please co

[2020-09-24 18:08] #2103 closed, assigned to nobody

[2020-09-25 08:36] avive commented on #2137
i guess we can have short error messages and error code that client will display and a field w more tech details which is what goes to the logs so integration tests can output more detailed errors. The expanded tech details are not interesting for non technical users who use apps with data from the api.

[2020-09-25 21:34] lrettig commented on #2137
agree, with one caveat: right now we're using [this list of standard codes](https://godoc.org/google.golang.org/grpc/codes) so there's a limit to how specific we can be with them. If necessary, we can fork, wrap, or otherwise extend this list.

[2020-09-25 22:03] lrettig opened #2150 "Add test name to logger output for tests"
When reading the output of tests, such as in CI (travis/github actions), it's very difficult to tell which test produced which log lines. Some tests are very verbose. Sometimes a test fires off a goroutine which continues to output even after the test has ended ([example](https://travis-ci.org/github/spacemeshos/go-spacemesh/jobs/729699754)). It would be very helpful to add the name of the test to

[2020-09-25 22:59] lrettig opened #2151 "Don't call T.FatalX inside goroutines in tests"
## Description

Many of the tests in https://github.com/spacemeshos/go-spacemesh/blob/develop/cmd/node/node_test.go use goroutines to run and interact with a process concurrently. They have require statements inside these goroutines, which is a no-no because when a require statement fails inside a goroutine it does not stop the test, in some cases causing tests to hang indefinitely. Here's one suc

[2020-09-26 11:02] devamanv commented on #2150
@lrettig I am a first time contributor and would like to work on this issue. Please help me get started and assign the issue to me.

[2020-09-26 12:51] lrettig commented on #2150
Hi @amanviitb, nice to meet you, you are more than welcome to contribute and take on this task. Would you mind starting by proposing a plan of attack, and letting me know if you have any questions? If you're not already on our Discord, you can join at http://chat.spacemesh.io/ and we can discuss via direct message there as well (look for me in the `#dev_discussion` channel!).

[2020-09-28 19:00] lrettig opened #2153 "TestAppTestSuite/TestMultipleNodes fails to stop nodes on panic"
## Description
This test fires up several nodes, but when the test fails due to a panic (e.g., because it could not start the poet server), those nodes continue to run in goroutines and interfere with subsequent running tests (by, e.g., blocking ports that they need to use, as well as by making test output very hard to read).

Example: https://travis-ci.org/github/spacemeshos/go-spacemesh/jobs/730

[2020-09-28 20:12] lrettig commented on #2148
I cleaned up one of these in 5511b0bc3c184406ebb61e305a3d94bd6a3b2225, I still see a few:

[code]

These should all be rewritten to use [`ioctl.TempDir`](https://golang.org/pkg/io/ioutil/#TempDir)

[2020-10-01 19:18] lrettig commented on #2148
I'm getting this error on Windows now too:

[code]

[2020-10-01 19:52] lrettig commented on #2148
Looks like this issue was introduced in #2011, something to do with the way the database is set up in the blockBuilder. CC @antonlerner

BTW my comment above (https://github.com/spacemeshos/go-spacemesh/issues/2148#issuecomment-700256243) was referring to tests, but this issue is not about tests, it's about the production code. The tests should be cleaned up as well but that's much lower priority.

[2020-10-06 21:04] lrettig commented on #2151
Here's some sample code that does this in a relatively canonical way, for reference:

https://github.com/spacemeshos/go-spacemesh/blob/93216bb21ca23e7f5e16495e5c8cfd2e737ce5f3/cmd/node/app_test.go#L108-L168

[2020-10-06 21:05] lrettig commented on #2153
This could be caused by #2151. If multiple tests are running in parallel, this test might just keep running even after it encounters a failure triggered inside a goroutine.

[2020-10-06 23:06] lrettig commented on #2081
This was partially addressed in #2103. Per https://github.com/spacemeshos/api/issues/100#issuecomment-686752060 I don't think further work is required here for now.

[2020-10-06 23:06] #2081 closed, assigned to nobody

[2020-10-06 23:10] lrettig opened #2156 "Add new API gateway service (for poet broadcast)"
This was implemented in https://github.com/spacemeshos/api/pull/118

Blocking on #2133

[2020-10-07 18:12] Amirhossein2000 commented on #2151
Hi
May I do this issue?
I know how to do this job and I think using Context.Context is a better idea.

[2020-10-07 19:16] lrettig commented on #2151
Hi @Amirhossein2000. That's an interesting idea, and one I hadn't previously considered. My understanding of golang's `context` object is that it's used to propagate cancel signals _down_ to sub-processes, not the other way, up to the top-level context (or throughout the context tree). For this reason I'm not sure it's the right solution here. We need a way for a goroutine to send an immediate can

[2020-10-07 19:27] Amirhossein2000 commented on #2151
I changed your example and this is going to be like this but we can't separate timeout and fail errors now.
if these separate logs are not important this way is a better way.
[code]

[2020-10-07 20:27] lrettig commented on #2104
The API has been updated. I'm adding support for the latest API release in #2133 which should take care of this.

[2020-10-08 21:44] lrettig commented on #2151
@Amirhossein2000 thanks for putting together this example, it's helpful. I think it could probably be made to work, but it seems like it's not idiomatic go. It seems like it's using context in a way that it's not intended to be used. Here are the sources I'm referring to:

- [Go Concurrency Patterns: Context][1]
- [Go Concurrency Patterns: Pipelines and cancellation][2]

The first of these explain

[2020-10-14 20:24] lrettig opened #2160 "Dead miners on testnet tweedledee 118"
Right now it looks like 13 out of ~100 managed smeshers have died. I'm opening this issue to track the troubleshooting.

This time around it does not look like a logstash issue. It looks like some of the miner images are just failing to start. Here's what I see when I attempt to view the logs of one of them:

[code]

Digging a bit deeper, there's something wrong with the docker image for the miner

[2020-10-15 01:18] lrettig commented on #1701
duplicate of #2000, fixed in #2001. readme.md looks okay too.

[2020-10-15 01:18] #1701 closed, assigned to lrettig

[2020-10-15 01:19] lrettig commented on #182
I think our current Makefile and the existing scripts satisfy these requirements. Please reopen if I've missed anything.

[2020-10-15 01:19] #182 closed

[2020-10-20 18:14] lrettig opened #2162 "Deduplicate logic in API TransactionService and TransactionProcessor"
This logic is perfectly duplicated:

https://github.com/spacemeshos/go-spacemesh/blob/bc91d5bf2bb95b742eff53be6281dd63022bd347/api/grpcserver/transaction_service.go#L60-L82

https://github.com/spacemeshos/go-spacemesh/blob/bc91d5bf2bb95b742eff53be6281dd63022bd347/state/processor.go#L314-L331

We don't need to run this logic twice. If we want the API to reject invalid transactions outright, then we

[2020-10-20 19:43] lrettig commented on #2160
@sudachen suggested that this is likely a spacecraft issue due to scaling the number of miners.

[2020-10-20 19:49] lrettig opened #2163 "Cannot try system tests outside bors due to hardcoded docker image names"
Right now the only way to successfully run the system tests is inside CI using `bors merge`, because the docker images that are used by the tests (go-spacemesh, poet) are hardcoded in several config files. grep for "spacemeshos/go-spacemesh:develop" to find others; here's one example:

https://github.com/spacemeshos/go-spacemesh/blob/bc91d5bf2bb95b742eff53be6281dd63022bd347/tests/k8s/bootstrap-w-c

[2020-10-21 07:19] noamnelke commented on #2163
This cannot be correct because bors doesn't run system tests on `develop`. It only runs them in `trying` or `staging`.

I have also successfully run system tests from my machine using e.g. `make dockerpush dockerbuild-test dockerrun-mining`.

What made you think this is a problem?

---

I dug a little and the reason it works is this method, which replaces what's configured:
https://github.com/spac

[2020-10-21 19:56] lrettig commented on #2163
@noamnelke thanks, this was the information I needed to figure out what was going on here. Some of the configs referred to `clientv2` and some referred to `client_v2`. Fixed in https://github.com/spacemeshos/go-spacemesh/pull/2131/commits/de86b4c23fb094256baa50c3f383b309d2e7ad1b, so this issue will go away when #2131 is merged.

[2020-10-21 19:58] lrettig commented on #2163
While we're on the subject, I still dislike the fact that I have to run `make dockerpush` before I can successfully run these tests locally - it would be even better if this weren't necessary and it could somehow use the local docker image - but given that these tests run remotely over k8s, I suppose that can't be helped.

[2020-10-22 00:01] lrettig commented on #1861
This last one is still failing constantly, causing a lot of headaches. Here's a recent failure: https://travis-ci.org/github/spacemeshos/go-spacemesh/jobs/737871907

[2020-10-22 06:57] noamnelke commented on #1861
I've actually fixed this in my branch. I'm ashamed to admit that it was part of an unrelated commit, but it just bothered me when I made that change. I'm usually more disciplined when it comes to organizing commits...

https://github.com/spacemeshos/go-spacemesh/commit/88a1b879f6a9d29e538fe6995eb4c2957053a900#diff-540770b559cc7d207b251a5366d78a389eb413f7bb42ca6cd8f4ed699e96d4ec

The problem is tha

[2020-10-22 21:18] lrettig commented on #1861
Awesome, I pulled this into #2166, thanks

[2020-10-23 00:24] lrettig opened #2168 "P2P version comparison logic is broken"
## Description

There are several issues with the both this logic and the way it's tested:

- Timeout looking for bootstrap message in test wasn't long enough so it was always passing
- The actual logic that compares versions during bootstrap is broken, leading to nonsensical errors like `Error handing network message err=wrong client version want atleast: 0.0.1, got: go-spacemesh/0.0.2, err=<nil>

[2020-10-26 00:04] lrettig opened #2170 "Remove "travis timeout" patches"
## Description
There are several patches in tests that are intended to address an issue with travis CI (deprecated in #2165) that should no longer be needed under GitHub Actions. A couple of them are visible here (and there may be others):

- https://github.com/spacemeshos/go-spacemesh/pull/2165/commits/f68d33862ca7878f2f3aafc76e7ef13929043831#diff-79678d10f0e157689bf0df3adbd13d4a7d668326cbaf7a62e

[2020-10-26 00:06] lrettig opened #2171 "Re-enable tests that failed under Travis"
## Description
There are several tests that are currently marked as skip because they previously failed under travis CI (deprecated in #2165). We should test running these under GitHub Actions and re-enable them if they're working.

## Affected code
Various test files, here's one set of examples (there may be others):

- https://github.com/spacemeshos/go-spacemesh/pull/2165/commits/f68d33862ca7878

[2020-10-26 00:09] lrettig opened #2172 "Remove hardcoded list of "required statuses" from bors.toml"
## Description
See this thread: https://github.com/spacemeshos/go-spacemesh/pull/2165#discussion_r511658541

Take one of the suggested courses of action, or come up with a better way so that we don't have to keep this list of "required statuses" up to date manually in `bors.toml`

## Affected code

This issue appears in commit hash: 4d27c598a63f28b478dd803abb6002f8a93452cb

Related files (optional

[2020-10-27 15:27] antonlerner opened #2174 "Implement Golden ATX"
## Description
All ATXs generated in first epoch must point to the golden ATX as the ref and pos ATX.

A golden ATX should be a configurable hash that will be inserted into the DB when launching a network. this will help identify all ATXs that are part of the same network since all of them eventually must point to same golden ATX.

The golden ATX will be changes between networks to avoid data leak

[2020-10-27 15:29] antonlerner opened #2175 "Invalidation of old messages in fetcher"
Today, if no message is received from peers, inner messages waiting for fetch result will never be invalidated

We need to add a timed mechanism that will go through all waiting requests and invalidate old requests

[2020-10-29 01:11] lrettig opened #2178 "Broken shutdown flow in sync"
## Description

`TestAppTestSuite/TestMultipleNodes` is currently failing with a panic that appears to be happening during the shutdown flow at the end of the test:

[code]

See https://github.com/spacemeshos/go-spacemesh/runs/1324034214?check_suite_focus=true

CC @antonlerner

## Steps To Reproduce
Run this test. Note that it only appears to be failing in CI; @noamnelke reported that it's passing

[2020-10-29 01:16] lrettig opened #2179 "GitHub Actions not triggering on push without changes"
Opening this to document a strange issue that @noamnelke discovered today. It appears that, when we `bors try` a PR and the tests fail, then we `bors try` again, GH Actions fails to trigger the `push` workflow the second time if there are no changes to the code. I confirmed that making a tiny, superficial change to the code causes it to work again. It appears that Actions has an optimization where

[2020-10-29 13:04] avive opened #2180 "Compute account balances and rewards"
# Motivation
We'd like to be able to get a cvs file of all accounts' addresses, transactions, balance and rewards on a spacemesh network at a given layer. We currently have a script that can generate this file (see https://github.com/spacemeshos/logs-parser). The issue with this script is that currently go-sm log files do not output a full account addresses, and only 5 hex chars, so we don't know

[2020-10-30 18:03] lrettig opened #2184 "Cannot exit `go-sync`"
## Description
This cmd, used in the system tests, cannot be killed using CTRL-C. If you run it locally, there is no way to kill it:

[code]

## Steps To Reproduce
1. `make sync`
1. `build/go-sync`
1. Hit CTRL-C

## Expected Behavior
The app should exit cleanly

## Environment
Please complete the following information:
 - Node Version: 356468ca6b9216bcba3e259e05c8f0e90c8336ce

[2020-10-30 21:08] lrettig opened #2185 "Modify system tests to use GRPC API rather than JSON gateway"
## Description
Our system tests use the API to do things like submit transactions and get account status:

https://github.com/spacemeshos/go-spacemesh/blob/5bdd215fb8359f8c379fbf57831f9a597a6624d4/tests/tx_generator/models/wallet_api.py#L36-L56

This code is very messy since, right now, it passes text-based commands into `curl` and uses the API via the JSON gateway. This requires base64 encoding b

[2020-10-30 21:19] lrettig commented on #2145
Pending #2131, tests will no longer rely on the old API, and spacecraft also should not. I'm going to mark this issue as resolved by that PR, let me know if you disagree.

[2020-10-30 21:20] lrettig commented on #2160
This is most likely a spacecraft issue, and has not recurred on the new testnet, closing this

[2020-10-30 21:20] #2160 closed, assigned to nobody

[2020-10-30 23:41] lrettig commented on #2178
This failed again, after including the fix from #2182 :(

https://github.com/spacemeshos/go-spacemesh/runs/1334509150?check_suite_focus=true

[2020-10-31 02:49] lrettig commented on #2178
Here's my diagnosis of what's going on. The way we handle gossip channels is a little messy. Ideally, these channels would be closed as part of the p2p shutdown process, but right now they're not, and this is marked as a to do:

https://github.com/spacemeshos/go-spacemesh/blob/85dc316082f0c375944b7f88387ee1a943354dcf/p2p/switch.go#L431-L438

It would be cleaner if these channels were closed at the

[2020-10-31 03:58] lrettig commented on #1861
@noamnelke #2166 appears to have fixed the `TestClock_TickPastGenesis` issue but I'm still seeing very similar failures from `TestClock_StartClock_BeforeEpoch`, in case you have any other tricks up your sleeve - I imagine the fix will be similar:

[code]

See https://github.com/spacemeshos/go-spacemesh/runs/1335026408?check_suite_focus=true

[2020-11-01 14:55] #2172 closed, assigned to nobody

[2020-11-02 18:58] #2178 closed, assigned to nobody

[2020-11-03 18:43] #2108 closed, assigned to nobody

[2020-11-04 01:58] lrettig commented on #1621
We ran into issues with poet version again today after https://github.com/spacemeshos/poet/pull/105 was merged yesterday (my fault). We put into place a temporary fix in #2128 where we pinned a specific poet build: https://github.com/spacemeshos/go-spacemesh/commit/e353ccc393eda807411ef001015b2d3e8dabf4fb#diff-7002836ab7b8ee5645f5352721e0a15f9dc5eeac359a716460926725f2be4d72

However we need a more

[2020-11-04 13:49] avive opened #2191 "Improve transaction processing tests"
## Motivation

Several transaction processing tests in `processor_test.go` are implemented by comparing strings of formatted json output of the db dump with an expected json formatted string. This is fragile and should be avoided. A better approach is instead of using processor.Dump() to get a json formatted string and compare it with a hard-coded string is to use processor.RawDump() to get a type

[2020-11-04 23:36] lrettig opened #2192 "Standardize account balance type"
## Description

In some places we use uint64 for balance, in other places we use big.Int. Let's standardize all of these into a single type, uint64.

This issue appears in commit hash: e353ccc393eda807411ef001015b2d3e8dabf4fb

See also #2069

[2020-11-05 07:12] noamnelke commented on #2191
Just a note on this - it might be SAFER to compare typed values, but it would be MORE fragile, not less (e.g. if an internal data structuring change causes the types to change while the representation stays the same)...

I don't generally like comparing dumps of any sort. I think that tests should be focused on exactly what's important to test - so for example, compare balance and account counter

[2020-11-06 04:29] lrettig opened #2194 "Store account state root internally as byte array"
It's currently stored as a string. It should be stored as a bytearray, and only converted to a string when printed:

https://github.com/spacemeshos/go-spacemesh/blob/8a072181bfe2633d2a90461deb29627c1283706e/common/types/account_state.go#L15

[2020-11-06 05:32] #2104 closed, assigned to nobody

[2020-11-06 05:32] #2133 closed, assigned to lrettig

[2020-11-06 06:54] #2156 closed, assigned to lrettig

[2020-11-07 03:39] lrettig opened #2195 "PANIC TestNinjaTortoise_Recovery error block not found"
## Description
I've seen this panic occur in the unittests several times recently, sporadically:

2020-11-06T22:56:59.214Z	ERROR	TestNinjaTortoise_Recovery	Fatal: goroutine panicked. Stacktrace: goroutine 387 [running]:
runtime/debug.Stack(0x4e2502, 0xc0001460c8, 0xaa3cb0)
	/opt/hostedtoolcache/go/1.14.6/x64/src/runtime/debug/stack.go:24 +0x9d
github.com/spacemeshos/go-spacemesh/log.Log.Panic(0xc0

[2020-11-07 03:45] lrettig commented on #2195
Okay I think this is expected :)

[2020-11-07 03:45] #2195 closed, assigned to nobody

[2020-11-08 11:11] avive commented on #2194
Note that internally in the db, a hash is stored and not a string. So this issue is about modifying MultipleAccountsState to store bytes instead of a string.

[2020-11-10 11:40] noamnelke commented on #2068
specifically the coinbase is known, because that's how we retrieve the reward in the first place, so we could just fill that in

[2020-11-13 19:49] lrettig opened #2199 "Reproducible builds"
Opening an issue to track an internal conversation on this topic/task. Further to our discussion about how to handle node/protocol updates (see https://github.com/spacemeshos/SMIPS/issues/32), @tal-m proposed that we make the source code commit the protocol version (since binaries will differ from platform to platform). We can sign all released binaries and tag which git hash was used to produce i

[2020-11-13 19:55] lrettig commented on #1861
Still happening: https://github.com/spacemeshos/go-spacemesh/runs/1397569708?check_suite_focus=true

Opened #2200

[2020-11-14 04:25] lrettig commented on #2179
Oddly enough this does not appear to be a problem for `bors merge`, which happily reruns all of the actions in `staging`. It's only an issue for `bors try`/the `trying` branch - not the end of the world since we can always manually rerun in Actions.

[2020-11-18 13:29] y0sher opened #2202 "handle late blocks in verifying tortoise"
## Description

handling late blocks in verifying tortoise. should also design how to handle them.

## Affected code

verifying tortoise

[2020-11-18 13:34] y0sher opened #2203 "differentiate between not terminated hare and terminated with empty set in tortoise and sync"
## Description

with the verifying tortoise we are now syncing on hare results (aka vote input vector) and using them for verifying.
we need to be able to differentiate between not terminated hare and terminated with empty set in both,
if terminated with empty set we should know to vote against every block in that layer
if not terminated we abstain until terminated.

currently we always act as if

[2020-11-19 10:12] #2077 closed, assigned to nobody

[2020-11-19 10:12] #2078 closed, assigned to nobody

[2020-11-19 10:12] #411 closed, assigned to nobody

[2020-11-19 10:12] #2153 closed, assigned to nobody

[2020-11-19 10:12] #2163 closed, assigned to nobody

[2020-11-19 10:12] #2145 closed, assigned to nobody

[2020-11-19 10:12] #2168 closed, assigned to nobody

[2020-11-19 20:49] lrettig opened #2207 "Automate releases"
It shouldn't be too hard to automate builds using the new CI setup. This has already been set up in https://github.com/spacemeshos/gpu-post/.

needs #2205

[2020-11-20 23:00] lrettig commented on #1712
Just checked, this is still an issue

[2020-11-23 09:05] noamnelke commented on #2207
I think builds should be triggered when we create a tag (not on every merge to `develop`).

A build should push an image to Dockerhub (we should separate this part from the `tag-and-build` command in the makefile).

It should also build binaries for all platforms and attach them as artifacts to a draft release (that we can then manually release by just clicking a button).

We can use [this tool](h

[2020-11-23 14:50] lrettig commented on #2207
there's also https://github.com/marketplace/actions/automatic-releases and a bunch of other tooling available

[2020-11-23 18:47] noamnelke commented on #2207
Yeah, there are many tools that auto generate changelogs, doesn't matter to me which one we use.

[2020-11-24 18:39] lrettig opened #2209 "API does not return ATXs until epoch 2"
## Description
In epoch 0, there are no ATXs and no blocks. In epoch 1, there are ATXs published but no blocks. From epoch 2, there are both ATXs and blocks. Right now the API returns ATXs only as part of a [Layer object](https://github.com/spacemeshos/api/blob/7d0dfed55cc1a2300080a8143f4075d9cb511b03/proto/spacemesh/v1/types.proto#L108). Since there are no layers in epochs 0-1, there's currently

[2020-11-24 18:43] lrettig commented on #1992
Is this still an issue? Has anyone seen this happen recently?

[2020-11-24 18:50] lrettig opened #2210 "Log message is too verbose: fetched 100 atxs for epoch 2 actual map"
We need to make this log message much less verbose as it fills the entire screen. It can also probably be switched to DEBUG:

[code]

[2020-11-24 18:55] noamnelke commented on #2210
While this doesn't fix the over-verbosity, I've improved the situation in the `var-post` branch by changing the `%v` to a %x`. This means that ATX IDs are printed as hex strings instead of byte arrays. This is also more useful for debugging.

I think this is a useful log for debugging the testnet, but we can't keep it if at some point we'll have thousands of miners.

[2020-11-25 00:34] ghost opened #2211 "[v0.1.17] | layer has no explicit voting"
## Description
Tap node reboots endlessly after update to version `v0.1.17`

## Steps To Reproduce
1. Update to version v0.1.17
2. Download the latest configuration file
3. See error
[code]

## Expected Behavior

## Environment
Please complete the following information:
 - OS: Linux, Ubuntu 18.04

 - Node Version: `v0.1.17+5f1237a7ee06884d55712faf04655b064fe49225`

## Additional Resources

![image

[2020-11-25 21:52] lrettig commented on #1963
I'm pretty sure this isn't an API issue. This happened in the old API, and it happens in the new API too. The API calls
`meshdb` `GetTransactionsByDestination` and `GetTransactionsByOrigin`, and `TxMempool.GetTxIdsByAddress`. While it's true that the API doesn't attempt to deduplicate the txids it gets, it seems unlikely that the same txid would be returned two or three times from these calls.

[2020-11-29 17:58] y0sher opened #2215 "UDP Listener is being closed when incoming udp sessions are being closed"
## Description

When we create are psuedo connection over udp and it's formed over an incoming message to our node we use the listener socket as the underlying socket, in this case when close is being called because timeout has passed or we have a different session with the same peer the underlying listener is closed and we stop listening to discovery :/

## Steps To Reproduce
1.listen to udp mess

[2020-11-30 17:23] lrettig commented on #973
Not sure what this is referring to. I think this can be closed as it's being dealt with elsewhere.

[2020-12-01 04:57] shibe-dev opened #2217 "add database indices for atxs to index them by layer"
## Description
Currently, activations are indexed by atxID as well as by coinbase address. As the number of layers grows, searching for a specific activation transaction gets more and more inefficient (the API implementation uses a getter GetATXsByCoinbase). Adding database indices to index atxs by layer would increase efficiency. [See similar issue/fix here](https://github.com/spacemeshos/go-spac

[2020-12-06 16:44] antonlerner opened #2222 "Fix flaky blocks-add-node and other tests"
## Description
Sometimes add_nodes test fails when some node does not create the correct amount of blocks per epoch

this happens here:
https://github.com/spacemeshos/go-spacemesh/runs/1428531039

the error is usually:
[code]

## Steps To Reproduce
run `make dockertest-blocks-add-node`
or
`python3 -m pytest -s -v ./tests/sync/test_sync.py --tc-file=./tests/sync/config.yaml --tc-format=yaml`

## Ex

[2020-12-07 14:57] noamnelke opened #2225 "Remove timestamp field from block header"
## Description
The block header contains a `Timestamp` field, which is set, but never read.

It’s problematic to use it anywhere since it’s un-vetted, one can plaster any timestamp that serves them onto anything.
Since we’re not doing anything with this field we may as well call it “arbitrary 8 bytes that the miner can fill with whatever they please”.

## Affected code
https://github.com/spacemesh

[2020-12-08 15:33] nkryuchkov opened #2226 "Add -race flag to tests and fix data races"
## Description
Neither unit tests, nor system tests use the `-race` flag. Using it would enable Go's race detector and let us find some existing data races easily. As a result of a read/write operation is undefined in case of a data race, they might cause some unexpected behavior.

I ran unit tests with the flag, and there are many races in multiple packages.

This issue appears in commit hash:
`f

[2020-12-08 19:00] avive opened #2228 "Some rewards are not sent by the api"
Looks like not all rewards are sent via the api for a layer. See logs here: https://github.com/spacemeshos/explorer-frontend/issues/102 . This what causes the under-reporting of rewards in dash and explore.

[2020-12-08 19:41] avive commented on #2225
why not remove it and save some bytes per stored tx?

[2020-12-09 06:29] krishnaindani commented on #2225
Hi, Is this issue available? If so I would like to try working on this.

[2020-12-09 11:14] avive commented on #2228
I ran some more tests.
Layer 4804 on TN 122 had 45 blocks. See: https://stage-explore.spacemesh.io/layers/4804/blocks . GlobalStateService GlobalStateStream returned only 32 rewards events via `grpcurl -d '{"globalStateDataFlags": 2}' -plaintext localhost:9092 spacemesh.v1.GlobalStateService.GlobalStateStream`. So we are def missing some rewards in the stream.

[2020-12-09 18:42] noamnelke commented on #2225
@avive Removing the field is what this issue is about, see title.

@krishnaindani Sure! Feel free to submit a pull request.

[2020-12-09 19:35] lrettig commented on #2211
Thanks for reporting this. It's probably the same issue as in #2088 (and the other issues linked there).

[2020-12-09 20:00] lrettig commented on #2075
@howydev before trying to fix this, I think we need to answer this question:

We need to understand how the "kill" signal propagates down from the top-level App down to the API channel listeners.

[2020-12-09 23:32] shibe-dev commented on #2075
@lrettig Makes sense, I'll spend time looking into that before continuing. I assume there's no implementation/usage of the API thus far?

[2020-12-09 23:53] lrettig opened #2230 "block eligibility check failed - err: proof counter must be less than number of eligible blocks"
## Description
A user reported that their testnet smesher, which had been working fine, suddenly got stuck at layer 4716. In the logs I see this error, which I've never seen before:

`2020-12-09T17:41:39.394+0800    ERROR   13a23.sync         .blockFetchQueue     block fast validation failed    {"node_id": "13a234e7bd06ad22bebd2a4e94bae5496d3f5877a62775f8ebeb9ae11c928553", "block_id": "c5606952a6"

[2020-12-09 23:54] lrettig commented on #2075
Not sure what you mean - you can run the API on current testnet nodes. We have public API nodes running, and the explorer and dash are using it too!

[2020-12-10 05:02] krishnaindani commented on #2225
Thanks @noamnelke . I will get started and submit the pr

[2020-12-10 05:51] krishnaindani commented on #2225
I see the block header defined [here](https://github.com/spacemeshos/go-spacemesh/blob/develop/common/types/block.go#L130) and used [here](https://github.com/spacemeshos/go-spacemesh/blob/develop/miner/block_builder.go#L286).  I only see these two places to remove the field. Am I understanding correctly?

[2020-12-10 09:54] noamnelke commented on #2225
Yes, looks that way.

[2020-12-10 16:16] krishnaindani commented on #2225
Just wanted to cross check. Thanks. I have created the pr.

[2020-12-11 16:41] lrettig commented on #2230
Another user reported this issue. He said his node was "stuck syncing layer 4688 for a few hours now" but that after restarting the app it continued syncing (and I see the same error in his logs)

[2020-12-13 02:36] krishnaindani commented on #2225
I have added a PR for this issue. Can someone check if the PR looks good or if I need to update anything there? Thanks in advance.

[2020-12-17 16:00] avive opened #2235 "Error when subscribing to an API stream over TLS"
1. Try:
[code]
Result:
[code]
2. Try again - it now works as expected and the data is streamed to console.

So I suspect it is a configuration issue and related to TLS as this is not happening when connecting insecurely to localhost.

@valar999

[2020-12-17 16:21] valar999 commented on #2235
It's possible that timeout triggered somehow on Nginx or GCP LB. Will try to figure it out.

[2020-12-17 16:53] avive commented on #2235
Also, try the layerStream via grpcurl and let it run for a while. After few minutes I get
[code]

[2020-12-17 18:46] shibe-dev commented on #1639
I'd love to give this a try. Would it make sense to hop on a call with either/or both of you @noamnelke @lrettig to hash out the details? I'll be happy to accommodate your availabilities

[2020-12-17 22:44] lrettig commented on #2235
If there is an issue here, it's an implementation issue, not an API design issue, so this issue belongs in the go-spacemesh repo not this one.

[2020-12-17 23:15] lrettig commented on #1639
I think @noamnelke and I need to get on the same page with respect to the interface design first - I'll make a note to discuss this with him next week! Let's keep in touch about it @howydev

[2020-12-17 23:33] valar999 commented on #2235
Looks like we have timeout in `grpcurl` itself. Connection closing has been initiated from client.
[code]

[code]

[2020-12-17 23:39] lrettig opened #2236 "Epic: incentives and rewards"
Opening an issue to track this implementation work. See https://github.com/spacemeshos/SMIPS/issues/38 for design.

[2020-12-18 10:53] avive commented on #2235
We need to specify recommended client timeout and other settings for consuming grpc streams. This important for both smapp and cliwallet. lane is right and this issue should be moved to go-sm

[2020-12-20 09:15] y0sher commented on #2222
Some observations:
- The node tried to sync on atxs when P2P wasn't ready hence it assumed no atxs in first epochs
- A mechanism we had when we're not synced was changing our state to be "synced" while we're on gensis to let atxs flow in the gossip this might've made some atxs missing as we joined and opened gossip after they started sending.

( @nkryuchkov  is working on a fix to both of these )

[2020-12-20 09:21] y0sher commented on #2226
@nkryuchkov this will be really helpful though a lot of the races we have are originated in races with mocks and simulators I hope we can take advantage of the `-race` flag without putting too much work into synchronizing mocks..

[2020-12-22 02:12] lrettig commented on #1639
Hey @howydev, @noamnelke and I had a chance to discuss this today. We both agree that the [Tomb](https://pkg.go.dev/gopkg.in/tomb.v2) framework makes sense here: read [this post](https://blog.labix.org/2011/10/09/death-of-goroutines-under-control) for some background. Personally I still think that a more advanced interface for services including initialize, graceful stop/force stop, etc., would be

[2020-12-24 00:13] lrettig commented on #2105
This is no longer blocking on anything. It's not a strict dependency but it would be nice to work on this along with #2185.

[2021-01-03 02:05] lrettig commented on #2192
Assigning to @sidsankhe. It looks like good places to start here are the `AccountState` type in common/types/account_state.go, which includes a `big.Int` balance type, and the code in state/, which uses this extensively.

[2021-01-06 09:38] #2063 closed, assigned to lrettig

[2021-01-06 12:50] antonlerner opened #2249 "Create timed ticker and message exchanger component"
In order to implement the beacon we must agree on a set of ATXs to calculate the beacon from this set

the proposed solution is

https://github.com/spacemeshos/SMIPS/issues/29

for this solution we need to have a generic protocol ticker capable of sending an inital message and following messages - aslo classifying them into "timely" and "late"

[2021-01-07 12:47] #2215 closed, assigned to nobody

[2021-01-09 03:07] #2192 closed, assigned to sidsankhe

[2021-01-11 16:36] lrettig commented on #2076
See #2176 for reference

[2021-01-12 11:41] sidsankhe opened #2252 "Change tests/requirements.txt to Pipfile"
## Description

Currently the tests modules uses pip and a requirements.txt file to resolve dependencies. However, this isn't optimal because it leads to non-deterministic builds, pip doesn't adequately support dependency resolution and pip doesn't allow you to install packages from Github repositories, which is needed for #2185 and similar issues.
## Affected code

This issue appears in commit ha

[2021-01-12 15:11] nkryuchkov opened #2253 "Concurrent map read and map write when multi_node_sim is running"
## Description

Under very rare conditions, `multi_node_sim` throws a fatal error because of concurrent map read and map write. Then, the PoET server becomes unavailable. However, `multi_node_sim` continues running.

## Steps To Reproduce
1. Go to `./cmd/multi_node_sim`
2. Run `go build`
3. Run `ulimit -n 10000; ./multi_node_sim -n 10 -l 100 -b 10 2>&1 | tee multi_node_sim.log`
4. If a lot of logs

[2021-01-12 15:39] buck54321 commented on #2194
Have you considered a `type HexBytes []byte` that implements `json.Marshaler` and `json.Unmarshaler` to use hex (with or without the `0x`?) in the JSON encoding, as opposed to the base-64 encoding that is the default for the `json` package?

[2021-01-13 12:04] nkryuchkov commented on #2226
Logs of `ulimit -n 9999; go test -race -timeout 0 -p 1 ./...`:
[dataraces.log](https://github.com/spacemeshos/go-spacemesh/files/5808461/dataraces.log)

[2021-01-14 17:29] lrettig commented on #2068
The account that received the reward is the coinbase - we may want to rename this, depending how we ultimately design incentives and rewards (as smoothing makes the concept of a "coinbase" account seem slightly off) - but, as Noam pointed out, we do have this data and indeed this is how it's currently indexed. We do _not_ currently store SmesherId in the database. So the scope of this issue is:

-

[2021-01-14 18:56] nkryuchkov opened #2257 "Panic in multi_node_sim"
## Description

Running `ulimit -n 10000; ./multi_node_sim -n 10 -l 100 -b 10` often throws `panic: too many errors and retries`.

## Steps To Reproduce
1. Go to `./cmd/multi_node_sim`
2. Run `go build`
3. Run `ulimit -n 10000; ./multi_node_sim -n 10 -l 100 -b 10 2>&1 | tee multi_node_sim.log`
4. Panic will likely appear

## Expected Behavior

No panic

## Environment
Please complete the following

[2021-01-17 21:45] #2252 closed, assigned to sidsankhe

[2021-01-18 15:24] sl-he opened #2263 "block * from layer * has no explicit voting, something went wrong"
## Description
Node is crashed with this error log
[code]

## Steps To Reproduce
1. Just run node and wait a few dozens of minutes
2. See error

## Expected Behavior
Running node without any errors ;)

## Environment
Please complete the following information:
 - OS: Ubuntu 18.04.5 LTS
 - Node Version: v0.1.22+1b3e38ace6840e1384bee4ce86b393cafabca966

[2021-01-18 16:56] lrettig commented on #2228
CC @sidsankhe who's working on how rewards are stored (and indexed) in the database as part of #2068. We never figured out the cause of this issue, whether it was happening inside the API or the DB. Let's wait and see if everything is working after #2068 is done, the new API is fully implemented, and we've finished implementing whatever reward scheme we ultimately land on (#421).

[2021-01-19 15:20] tyevlag opened #2264 "[BUG]Syncing the mesh... Error"
2021-01-19T23:18:20.504+0800	ERROR	00000.defaultLogger	GRPC GetBalance returned error msg: account does not exist, address c17cb093064256a4c470813550969c9e8dcc5b72
2021-01-19T23:18:20.504+0800	INFO	00000.defaultLogger	not reporting error as buffer is full: {GRPC GetBalance returned error msg: account does not exist, address c17cb093064256a4c470813550969c9e8dcc5b72 goroutine 279 [running]:
runtime/

[2021-01-20 08:19] noamnelke commented on #2264
@lrettig is this normal behaviour? I'm referring to the `not reporting error as buffer is full` part.

[2021-01-20 08:59] noamnelke commented on #2263
As discussed on Discord (putting it here for the record):

This is a known issue that we don't have enough data on to investigate and resolve. If it happens again, we'd appreciate getting the full logs from the node.

I'm closing this issue for now - feel free to re-open it or open a new one if it happens again and you have the full logs.

[2021-01-20 13:47] sl-he commented on #2263
All logs for spasemesh node app from start to unenspected closing
https://pastebin.com/uABgAVFY

[2021-01-20 13:58] noamnelke commented on #2263
Thanks @sl-he!

@antonlerner @y0sher can you take a look?

[2021-01-20 19:27] lrettig opened #2266 "Look into tags for disabling API services"
@moshababo points out that https://github.com/lightningnetwork/lnd uses golang tags to enable/disable certain RPC services. Look into how this works and the pros/cons of this approach (versus just compiling everything in and enabling/disabling with CLI flags/config as we do now).

[2021-01-20 19:34] lrettig commented on #2207
Done in #2223

[2021-01-20 19:34] #2207 closed, assigned to web3rover

[2021-01-20 19:50] lrettig commented on #2264
"GRPC GetBalance returned error msg: account does not exist" message is coming from the old API, and the "not reporting error as buffer is full" ERROR isn't really an error. Old API was removed and the error was downgraded to DEBUG in #2131 (which code isn't included in the running testnet).

[2021-01-20 19:50] #2264 closed, assigned to lrettig

[2021-01-20 19:51] lrettig commented on #2264
@tyinsomnia thanks for pointing this out! These issues have already been fixed but the fix isn't included in the running testnet--it will be included in a future testnet release.

[2021-01-21 08:29] noamnelke commented on #2266
Having to rebuild the node for different configurations seems unreasonable to me.

Trying to think of services for which it makes sense:
- Testing/debugging endpoints that we'll never use in production and we want to prevent someone accidentally enabling them.

I honestly started this bulleted list thinking I can come up with at least one more service where this makes sense, but couldn't. I don't

[2021-01-27 00:04] lrettig opened #2268 "Database keys should be strings"
## Description

Right now, in at least one place (and possibly others), we're using the construction

[code]

to produce a database key. This is inefficient because it converts one-byte values into a string of integers of varying length. It also breaks leveldb's lexicographic sort.

This can be fixed by doing:

[code]

See the thread beginning at https://github.com/spacemeshos/go-spacemesh/pull/21

[2021-01-27 00:09] lrettig commented on #669
Duplicate of #670

[2021-01-27 00:09] #669 closed, assigned to nobody

[2021-01-27 00:14] lrettig opened #2269 "NodeID should contain a single ed25519 key"
## Description
Right now, NodeID contains two keys, an edwards public key used for signing and a BLS-derived key used for VRF. We want to collapse these down to a single ed25519 key.

In future we may want to allow the node operator to rotate the signing key, but for now we're only allowing a single key that cannot be changed.

Replace BLS with a library that implements the scheme described [here]

[2021-01-28 17:47] lrettig opened #2271 "Unable to merge markdown-only changes"
## Description
Right now, GHA totally ignores PRs and pushes that change only markdown code. This is my fault, the original intention here was to skip the CI/bors process entirely for superficial, documentation-only changes. Unfortunately, as a result, we can't actually merge such PRs today (ex.: #2270) since bors waits forever for CI to pass, but CI never actually runs.

https://github.com/spacem

[2021-02-01 00:51] sidsankhe commented on #2068
Currently, the database does not take into account that a single Coinbase could be associated with multiple SmesherIDs. When writing the transaction rewards to the database, the key is of the form `reward_<coinbase>_<layerID>`, and the reward struct is for a specific Coinbase and SmesherID. Since multiple SmesherIDs could share a Coinbase, we cannot differentiate between different rewards with the

[2021-02-01 11:40] sidsankhe opened #2275 "Support for obtaining the Layer Computed for Rewards"
## Description

Currently, there is no way to get the LayerComputed field, i.e. the layer in which a reward was computed. Support needs to be added for this, because the Rewards API endpoints need this information.
## Affected code

This issue appears in commit hash:

Related files (optionally with line numbers):

[2021-02-01 11:45] avive commented on #2275
Doesn't this need to wait until the new rewards scheme is finalized because rewards might not be for a specific layer but for example the number of blocks submitted in an epoch? @lrettig

[2021-02-01 11:50] antonlerner opened #2277 "Collect local logs and zip when node crashes"
When a Node crashes for a user we should pack the relevant logs to make sure they are not re written, this will also make reporting issues a lot easier for us

when a node panics or exits abruptly we should have a method that packs the logs to a known location

[2021-02-01 12:10] avive commented on #2277
I think that @lrettig opened an issue recently regarding log rotation. q: why should the logs be re-written? They are always appended and always in one place? I don't think we even had a user that didn't find his logs when we asked him for it. There's a button in smapp settings top open the logs folder as well. Also - don't we want the telemetry feature that @sudachen has been working on to at lea

[2021-02-01 12:24] avive commented on #2277
The common solution for getting users logs in case of a crash this is to ask the user to submit a crash report back to the telemetry server and include his logs in the report + the panic but the logs are currently too big after short time to be uploaded.

[2021-02-01 17:36] lrettig commented on #2076
As @sidsankhe pointed out, this actually has nothing to do with database indices since this is inside a stream endpoint and thus not reading from the database. Optimizing this will require more clever use of data structures and algorithms: e.g., a more efficient way to find the intersection of the two arrays int he second and third nested for loops.

[2021-02-07 00:39] lrettig commented on #2277
It's here: https://github.com/spacemeshos/smapp/issues/680

Seems to me most of this log management stuff belongs in smapp, not go-spacemesh.

[2021-02-07 00:40] lrettig commented on #2275
Yup. All these related issues are tracked with the rewards tag here, we'll work through them all as we figure out how rewards are going to work.

[2021-02-08 11:14] y0sher opened #2281 "Flaky system tests in develop (blocks-remove-node)"
## Thread for flaky system tests in develop

### Format

Testname
## Test Log
[code]

[2021-02-08 11:16] y0sher commented on #2281
blocks-remove-node
[code]

TODO: check it's not missing logs.

[2021-02-08 18:31] #2271 closed, assigned to lrettig

[2021-02-09 20:09] lrettig commented on #1992
This hasn't happened recently

[2021-02-09 20:09] #1992 closed, assigned to antonlerner

[2021-02-09 20:12] lrettig commented on #1666
@narayanprusty please have a glance at this. I think we've accomplished all of this using GCP, and this can be closed. Please let us know if you think anything is still pending here. Thanks!

[2021-02-09 20:13] lrettig commented on #1657
Pretty sure this has been addressed!

[2021-02-09 20:13] #1657 closed, assigned to nobody

[2021-02-09 20:14] lrettig commented on #1518
Closing in favor of #1964

[2021-02-09 20:14] #1518 closed, assigned to nobody

[2021-02-09 20:16] lrettig commented on #1149
This will be dealt with soon as part of transaction selection

[2021-02-09 20:21] lrettig commented on #87
also related: #1918

[2021-02-09 20:24] lrettig commented on #1793
@avive has this recurred? Can we close this?

[2021-02-09 20:24] lrettig commented on #1636
p2p system tests have been enabled and working for a while, closing

[2021-02-09 20:24] #1636 closed, assigned to nobody

[2021-02-09 20:27] lrettig commented on #1575
Might be solved by the broker described in #1911

[2021-02-09 20:28] lrettig commented on #1868
Might be solved by the broker described in #1911

[2021-02-09 20:29] lrettig commented on #1293
I suspect this is no longer relevant given the new test/logs infrastructure - @y0sher could you confirm? Thanks

[2021-02-09 20:31] lrettig commented on #988
@y0sher is this still relevant?

[2021-02-09 20:34] lrettig commented on #571
Could you outline the testing solution here? Thanks

[2021-02-09 20:36] lrettig commented on #472
Related: #718 (we want to verify both the peer's advertised IP/port, and netid/version)

[2021-02-09 20:38] lrettig commented on #339
@y0sher is this still relevant? If so, could you expand on the task to be done here? Thanks

[2021-02-09 20:40] lrettig commented on #294
Marking as low priority since pubsub isn't used in production

[2021-02-09 20:41] lrettig commented on #164
@y0sher are all of these already being tested by our existing p2p system test?

[2021-02-09 22:35] lrettig commented on #2068
@avive, API-related question regarding database indices and sort order of rewards: Sid pointed out that, if we refactor the DB index for reward along the lines described above, we can no longer guarantee that rewards (per-smesher, or per-coinbase) will be returned from the API in order of layer. They'll be returned in order of `(smesherID, layer)` (when querying by coinbase) or `(coinbase, layer)`

[2021-02-10 08:16] avive commented on #2068
I think it is okay and clients can sort the data as they like once they have it quite easily. However, doesn't all of this pending on whether we are going to have epoch-wide rewards smoothing? if there's smoothing then the reward amount is per epoch and not tied to specific layers. So, for example, if I smeshed in 3 layers in an epoch and got 1 SMH reward for that epoch then can we assume 1/3 SMH

[2021-02-10 17:12] y0sher commented on #1293
If we're not using logs I assume it's not relevant. Though if we're rewriting tests to use APIs and keeping this test, I rather it'll use hashes like mentioned in the issue and not quantity.

[2021-02-10 17:14] y0sher commented on #164
Well, test plan was more elaborative than what haa been done so far. Currently we have happy flow tests. This issue doesn't represent this but we need more adversarial tests like dropping nodes/messages in the middle of the test and understanding the impact of it on propagation delay and cover.

[2021-02-10 21:45] #2174 closed, assigned to nobody

[2021-02-10 22:20] lrettig commented on #1293
Cool, will let @AmitShaul and @sudachen figure it out. Thanks!

[2021-02-14 14:38] lrettig commented on #2068
You're right, but there's still a layer associated with each reward - in the case of epoch smoothing, it would become the layer at which the reward is calculated, or paid, or vests, something along those lines. We have yet to figure out exactly how this will work, but I think the question I asked here remains the same. We'll just make sure this is clearly documented.

[2021-02-17 08:15] noamnelke commented on #2068
Why not make it `reward_<coinbase>_<layerID>_<smesherID>` and `reward_<smesherID>_<layerID>_<coinbase>`?

Or, if we only have endpoints for rewards by coinbase or by smesher and there's no need for internal differentiation (other than by layer) then we can just have `reward_<coinbase>_<layerID>` and `reward_<smesher_id>_<layerID>` with a sum inside.

[2021-02-18 17:06] lrettig opened #2291 "Hare panic: Tried to update a previous layer"
## Description

A testnet user (Tweedledee 124) reported the following panic:

2021-02-17T18:48:59.984+0100    ERROR   75077.hare              Fatal: goroutine panicked. Stacktrace: goroutine 136 [running]:\
runtime/debug.Stack(0x1, 0x27e2858, 0x203006)\
        /Users/runner/hostedtoolcache/go/1.14.13/x64/src/runtime/debug/stack.go:24 +0x9d\
github.com/spacemeshos/go-spacemesh/log.Log.Panic(0xc00

[2021-02-18 18:21] lrettig commented on #1895
Here's a concrete example that's happening now. I see a testnet node with this in the logs over and over again:

[code]

The peer with the out-of-date NetworkID should be banned and prevented from further connection attempts.

[2021-02-18 18:43] lrettig opened #2292 "Testnet node hare failure, stops syncing"
## Description
errors begin here:

[code]

I see hare fail for a couple of consecutive layers with this error. I also see it receiving a number of late messages. The node is restarted a few times. It syncs layer data up through layer 2591, then for some reason it just stops syncing layer data. It reports "latest: 2654" but never syncs past 2591 as far as I can see.

## Steps To Reproduce
Unclear

[2021-02-22 20:08] #2076 closed, assigned to sidsankhe

[2021-02-22 22:13] #571 closed, assigned to sidsankhe

[2021-02-25 15:55] lrettig opened #2295 "Testnet 124 failures and fixes"
Opening this to track the followups to the 124 testnet failures and our planned mitigations:

- [x] Adjust Hare params: reduce `hare-limit-iterations` to 2 (math is [here](https://spacemesh.slack.com/archives/CTKG710RZ/p1614217456045600?thread_ts=1614152408.033600&cid=CTKG710RZ))
- [x] Lower the tortoise threshold (#2298)
- [x] Increase resources for managed nodes, and monitor them more closely
-

[2021-02-25 20:34] lrettig commented on #2291
This node is missing most layer ticks, which could be related:

[code]

It's impossible to debug this further without debug logs for hare. It could be a bug in the hare broker. I noticed that the broker does not wrap `latestLayer` in a mutex. Somehow, it's trying to register layer 2981 eleven minutes after the layer tick for this layer, when the `hare-wakeup-delta` is set to 30s. This doesn't make

[2021-02-25 20:56] lrettig commented on #2263
This is happening because a block is voting for another block that tortoise has not seen, i.e., the voted-for block never passed through `processBlock()`. It's listed in the view, because it's been voted for, but it has no explicit vote recorded. I'm not sure why this happens.

[2021-02-28 22:07] lrettig commented on #2264
For the record, this is still appearing in the latest testnet release because smapp is still using the old API. When smapp is upgraded to use the new API, we can remove the old API from the testnet builds and the error will go away.

[2021-03-03 00:34] lrettig opened #2303 "Hare broker should terminate old processes if max iterations reached"
This should happen in FIFO fashion: if a new hare process (for a new layer) is kicked off, but the max number of concurrent hare process iterations is reached, then the oldest (i.e., earliest layer) process should be terminated.

[2021-03-03 00:37] lrettig opened #2304 "Add contextual validity bit to block data structure"
When a new block is received, the node should record, in the block data structure, whether the block was received on time or not, i.e., whether or not it's contextually valid. This will be used by both hare and tortoise in voting. Note that blocks should (obviously) not be marked late/contextually invalid if the node is not currently fully synced.

[2021-03-03 00:51] lrettig commented on #2203
To rephrase this slightly, a node needs to be able to vote explicitly neutral inside a block with respect to the contents of a layer (while waiting for hare to finish, before hare surpasses the max number of iterations). After hare terminates (if it terminates), the node should vote according to the hare for up to `hdist` layers, after which point it should vote according to the tortoise instead (

[2021-03-03 00:57] lrettig opened #2306 "Increase hdist"
Right now, this is set to 5 in the default config, and we've been running with it set to 10 in the testnets. However, according to @tal-m, it should be closer to 200. This increases our robustness against hare attacks, since honest nodes will explicitly vote neutrally until hare has terminated or failed completely, and we need a big enough window for honest votes to accumulate and override dishone

[2021-03-03 15:53] AmitShaul opened #2307 "Integrate nodes API Querying In Automation"
## Description
Currently automation using ES queries in order to validate tests scenarios, this issue is for integrating API queries instead of some of the ES queries to reduce our dependency in logs.

[2021-03-03 15:59] AmitShaul opened #2309 "Improve CI"
## Description
Some unfinished issues left open in the CI.
This is an ongoing task so feel free adding more items to the TODO list.

### TODOs:
  *  https between automation and ES.
  * manage node pool creation more effectively.
  * rearrange k8s deployment code.

[2021-03-03 16:16] AmitShaul opened #2310 "Automation Code Improvement"
## Description
The automation code has many code duplications and general code disorder.
Rewriting and giving the automation a "facelift".

[2021-03-04 19:45] lrettig opened #2311 "Hare behavior if preround fails"
Right now, if the preround fails, Hare prints an error but otherwise keeps on running. What should happen in this situation? Should Hare give up completely? Should it iterate and try the preround again? Should it just keep going?

[Per Tal](https://spacemesh.slack.com/archives/CG91F13C7/p1614870102017900), for the testnet, the entire Hare process for that layer should just give up and the node sho

[2021-03-05 02:35] lrettig commented on #2295
Closing as the new network is live

[2021-03-05 02:35] #2295 closed, assigned to lrettig

[2021-03-05 22:52] lrettig opened #2313 "Out of memory managed miner panic"
## Description
A managed miner on testnet126 crashed with an out of memory panic.

## Steps To Reproduce
Unclear

## Expected Behavior
Unclear

## Environment
Please complete the following information:
 - OS: Linux (docker)
 - Node Version: v0.1.26
 - App Version (if applicable): N/A

## Additional Resources
Partial logs: https://drive.google.com/file/d/1k6Y2PNa2s0QqbsYQ-MbgHuGrYQOjqMdM/view?usp=s

[2021-03-06 01:48] lrettig opened #2314 "Layer.Activations in API now contains active set"
Right now, `Layer.activations` in `MeshService` contains the union of the _active set_ for the blocks in that layer:

https://github.com/spacemeshos/go-spacemesh/blob/ac474c937735a11a6e0c954c06a7688c8f7fcff7/api/grpcserver/mesh_service.go#L303-L326

But the active set consists of activations from the previous epoch. Do we want this to contain the union of activations pointed to by blocks in the cu

[2021-03-06 08:50] avive commented on #2314
High-level we want to know in epoch n about each smesher that is going to be eligible to smesh in epoch n+1 and this is the data set for the 'active smeshers' info-graphics we display for users in dash and explore.

[2021-03-06 18:15] lrettig commented on #2314
Right, but the problem is, we have no "epoch" data type in the API, and it doesn't make sense to associate activations with layers, since in fact activations are associated with epochs. I think we should remove them from layers entirely to prevent the sort of confusion we're seeing now. Will PR this. They can be read directly from blocks for now.

[2021-03-08 03:04] bananooo-zhang opened #2315 "v0.1.26, failed when syncing to altitude 1214"
## Description
In ubuntu system, when I synced to 1214 altitude, it stopped syncing. This state has lasted for 24 hours

![image](https://user-images.githubusercontent.com/61408588/110269168-18d58800-7ffe-11eb-99fe-96a2fb32d940.png)